block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Кухня из броненосца

            .project__deatil

                h2 Ваш проект

                .tabs
                    ul.tabs__caption
                        li.active Описание и тип
                        li Нижняя часть
                        li Верхняя часть
                        li Фурнитура и фасады
                        li Столешница и стеновая панель

                    .tabs__content.active
                        .project__about
                            ul.project__about-params
                                li
                                    span
                                        strong Бюджет

                                    span.roubl 40 000

                                li
                                    span
                                        strong Город

                                    span Санкт-Петербург

                                li
                                    span
                                        strong Раздел

                                    span Кухни

                                li
                                    span
                                        strong Описание вашего проекта

                                    span Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.

                                li.img
                                    span
                                        strong Изображения

                                    ul.project__about-images
                                        li
                                            a(href="../../../img/img--project-1.jpg").fancy
                                                img(src="../../../img/img--project-1.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-2.jpg").fancy
                                                img(src="../../../img/img--project-2.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-3.jpg").fancy
                                                img(src="../../../img/img--project-3.jpg" alt /)

                            .kitchen-type.cupboard__checker
                                span.title Тип кухни

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_01' )
                                    .psevdoradio
                                    span Прямая
                                    img(src="../../../img/icon--kitchen-1.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_02' checked)
                                    .psevdoradio
                                    span Г-образная
                                    img(src="../../../img/icon--kitchen-2.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_03' )
                                    .psevdoradio
                                    span П-образная
                                    img(src="../../../img/icon--kitchen-3.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_04' )
                                    .psevdoradio
                                    span Островная
                                    img(src="../../../img/icon--kitchen-4.png" alt /)

                    .tabs__content
                    .tabs__content
                    .tabs__content
                    .tabs__content

                h2 Вам предлагают

                ul.offer-list.general-list.js--load-container
                    li(data-id="man_01").general-list__el.favourite
                        a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                        .general-list__el__content
                            .general-list__el__content__title
                                span Предложение от
                                a(href="").general-list__el__content__title-name Кухня из броненосца
                                a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").fancy.general-list__el__content__title-link 8 Отзывов
                                ul.stars--list-s
                                    li.color
                                    li.color
                                    li
                                    li
                                    li

                            p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                            ul.general-list__el__content-img
                                li
                                    a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-1.jpg" alt /)

                                li
                                    a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-2.jpg" alt /)

                                li
                                    a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-3.jpg" alt /)

                            .general-list__el__content__params
                                span.general-list__el__content__params-price.roubl 40 000
                                .general-list__el__content__params-time
                                    span Срок выполнения
                                    span 1 день

                            .general-list__el__content__links
                                a(href="" data-url="../../../js/ajax/send-ok.php").btn.btn_l.js--make-doer Сделать исполнителем
                                a(href="" data-url="../../../js/ajax/send-ok.php").js--refuse Отказать
                                span.doer-status

                .chat
                    h2 Диалог с Александр Пушкин

                    ul.message-list.general-list
                        li.general-list__el

                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                                ul.general-list__el__content-img
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)


                    form(action="../../../js/ajax/load_history.php" method="post").main-form.form-message.send-file
                        input(type="text" name="user" value="man_01").hidden-block
                        textarea(name="message" placeholder="Написать сообщение").inp

                        .file-wrap
                            ul.project__about-images
                            div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                input(type="file" name="file[]").input-file
                                a(href="").js--img-load

                        a(href="").btn.btn_l.js-form-submit Отправить

            ul.pagination
                li
                    a(href="") 1
                li
                    a(href="") 2
                li
                    a(href="") 3
                li
                    span 4
                li
                    a(href="") 5
                li
                    a(href="") 6

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/project_user.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});




