block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Кухня из броненосца

            .project__about
                h2 Я хочу, чтобы  кухня была такой:
                ul.project__about-params
                    li
                        span
                            strong Бюджет

                        span.roubl 40 000

                    li
                        span
                            strong Город

                        span Санкт-Петербург

                    li
                        span
                            strong Раздел

                        span Кухни

                    li
                        span
                            strong Описание вашего проекта

                        span Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.

                .project__about-links
                    a(href="").btn.btn_l Редактировать заказ
                    a(href="") Отменить

                h2 Предложения участников

            form(action="../../../js/ajax/load_history.php" method="post").project-filter
                .justifyed
                    .project-filter__tabs
                        label
                            input(type="radio" checked name="filter_deal" value="deal_01").hidden-block
                            span Все исполнители

                        label
                            input(type="radio" name="filter_deal" value="deal_02").hidden-block
                            span Избранные

                        label
                            input(type="radio" name="filter_deal" value="deal_03").hidden-block
                            span По рейтингу

                        label
                            input(type="radio" name="filter_deal" value="deal_04").hidden-block
                            span По цене

            ul.offers-list.general-list.js--load-container
                li(data-id="man_01").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el--img.round-img
                        img(src="../../../img/img--man.jpg" alt /)

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Мебель экспромт
                            a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").fancy.general-list__el__content__title-link 8 Отзывов
                            ul.stars--list-s
                                li.color
                                li.color
                                li
                                li
                                li


                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)

                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)

                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__links
                            a(href="" data-url="../../../js/ajax/send-ok.php").btn.btn_l.js--make-doer Сделать исполнителем
                            a(href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html").js--load-dialog Показать диалог
                            a(href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php").js--add-favourite Добавить в избранное
                            a(href="" data-url="../../../js/ajax/send-ok.php").js--refuse Отказать
                            span.doer-status

                li(data-id="man_02").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el--img.round-img
                        img(src="../../../img/img--man.jpg" alt /)

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Исполнитель
                            a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").fancy.general-list__el__content__title-link 8 Отзывов
                            ul.stars--list-s
                                li.color
                                li.color
                                li
                                li
                                li


                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)

                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)

                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__links
                            a(href="" data-url="../../../js/ajax/send-ok.php").btn.btn_l.js--make-doer Сделать исполнителем
                            a(href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html").js--load-dialog Показать диалог
                            a(href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php").js--add-favourite Добавить в избранное
                            a(href="" data-url="../../../js/ajax/send-ok.php").js--refuse Отказать
                            span.doer-status


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/project_offers.jpg",opacity: 0.5,top: 24,left: 0,center: false,clip: true,show: false});});




