block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Кухня из броненосца

            .project__deatil

                .about-user
                    h2 Описание проекта

                    span.title О заказчике

                    ul
                        li
                            img(src="../../../img/img--man.jpg" alt /)

                        li
                            span
                                strong Пушкин Александр

                            span 3 года на сайте

                        li
                            span
                                strong Город

                            span Санкт-Петербург

                        li
                            span
                                strong Проектов

                            span 5 проектов

                        li
                            span
                                strong Был на сайте

                            span 10 минут назад

                .tabs
                    ul.tabs__caption
                        li.active Описание и тип
                        li Нижняя часть
                        li Верхняя часть
                        li Фурнитура и фасады
                        li Столешница и стеновая панель

                    .tabs__content.active
                        .project__about
                            ul.project__about-params
                                li
                                    span
                                        strong Бюджет

                                    span.roubl 40 000

                                li
                                    span
                                        strong Город

                                    span Санкт-Петербург

                                li
                                    span
                                        strong Раздел

                                    span Кухни

                                li
                                    span
                                        strong Описание вашего проекта

                                    span Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.

                                li.img
                                    span
                                        strong Изображения

                                    ul.project__about-images
                                        li
                                            a(href="../../../img/img--project-1.jpg").fancy
                                                img(src="../../../img/img--project-1.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-2.jpg").fancy
                                                img(src="../../../img/img--project-2.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-3.jpg").fancy
                                                img(src="../../../img/img--project-3.jpg" alt /)

                            .kitchen-type.cupboard__checker
                                span.title Тип кухни

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_01' )
                                    .psevdoradio
                                    span Прямая
                                    img(src="../../../img/icon--kitchen-1.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_02' checked)
                                    .psevdoradio
                                    span Г-образная
                                    img(src="../../../img/icon--kitchen-2.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_03' )
                                    .psevdoradio
                                    span П-образная
                                    img(src="../../../img/icon--kitchen-3.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_04' )
                                    .psevdoradio
                                    span Островная
                                    img(src="../../../img/icon--kitchen-4.png" alt /)

                    .tabs__content
                    .tabs__content
                    .tabs__content
                    .tabs__content

                h2 Ваше предложение

                form(action="" method="post").main-form.form-offer
                    textarea(name="offer_text").inp

                    label
                        span Цена
                        input(type="text" name="price" ).inp.required

                    label
                        span Срок исполнения
                        input(type="text" name="time" ).inp.required

                    span Вы можете приложить файл с примером ваших работ или же нарисованный проект используя данные заказчика

                    ul.project__about-images

                    div(data-url="../../../js/ajax/load_img.php").js--img--container.add-img
                        <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                        input(type="file" name="file[]").input-file
                        a(href="").js--img-load

                .chat
                    h2 Диалог с Александр Пушкин

                    ul.message-list.general-list
                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?


                        li.general-list__el

                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                                ul.general-list__el__content-img
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)


                    form(action="../../../js/ajax/load_history.php" method="post").main-form.form-message
                        input(type="text" name="user" value="man_01").hidden-block
                        textarea(name="message" placeholder="Написать сообщение").inp

                        .file-wrap
                            ul.project__about-images
                            div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                input(type="file" name="file[]").input-file
                                a(href="").js--img-load

                        a(href="").btn.btn_l.js-form-submit Отправить

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/project_man.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});




