block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Страница моих заказов

            form(action="../../../js/ajax/load_history.php" method="post").project-filter
                .justifyed
                    .project-filter__tabs
                        label
                            input(type="radio" checked name="filter_deal" value="deal_01").hidden-block
                            span Все заказы

                        label
                            input(type="radio" name="filter_deal" value="deal_02").hidden-block
                            span Избранные

                        label
                            input(type="radio" name="filter_deal" value="deal_03").hidden-block
                            span Завершенные

                        label
                            input(type="radio" name="filter_deal" value="deal_04").hidden-block
                            span Отмененные

                    .project-filter__category
                        a(href="../pagePopup/popup-filter.html" class="fancybox.ajax").title.fancy Выберите категорию

            ul.project-list--user.general-list.js--load-container
                li(data-id="id_01").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Кухня из броненосца
                            span.general-list__el__content__title-link 18 предложений


                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)

                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)

                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__links
                            a(href="") Редактировать
                            a(href="" data-url="../../../js/ajax/send-ok.php" data-id="project_01").js--change-project Отменить проект

                li(data-id="id_01").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Кухня из броненосца
                            span.general-list__el__content__title-link 18 предложений

                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)
                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)
                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__doer
                            span.title Исполнитель выбран

                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Пушкин Александр

                                p Все эскизы прикрепляю к сообщению. Для ускорения процесса  предлагаю созвониться в скайпе

                            a(href="" data-url="../../../js/ajax/send-ok.php" data-id="project_01").btn.btn_l.js--change-project Завершить проект

                    li(data-id="id_01").general-list__el
                        a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                        .general-list__el__content
                            .general-list__el__content__title
                                a(href="").general-list__el__content__title-name Кухня из броненосца
                                span.general-list__el__content__title-link 18 предложений

                            time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                            p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                            ul.general-list__el__content-img
                                li
                                    a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-1.jpg" alt /)
                                li
                                    a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-2.jpg" alt /)
                                li
                                    a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-3.jpg" alt /)

                            .general-list__el__content__params
                                span.general-list__el__content__params-price.roubl 40 000
                                .general-list__el__content__params-time
                                    span Срок выполнения
                                    span 1 день

                            .general-list__el__content__doer
                                span.title Исполнитель выбран

                                .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                                .general-list__el__content
                                    .general-list__el__content__title
                                        a(href="").general-list__el__content__title-name Пушкин Александр

                                    p Все эскизы прикрепляю к сообщению. Для ускорения процесса  предлагаю созвониться в скайпе

                                a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").btn.btn_l.fancy Оставить отзыв

                    li(data-id="id_01").general-list__el
                        a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                        .general-list__el__content
                            .general-list__el__content__title
                                a(href="").general-list__el__content__title-name Кухня из броненосца
                                span.general-list__el__content__title-link 18 предложений
                                span.btn.btn_c_blue Выполнен
                                span.btn.btn_c_yel Отзыв написан

                            time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                            p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                            ul.general-list__el__content-img
                                li
                                    a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-1.jpg" alt /)
                                li
                                    a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-2.jpg" alt /)
                                li
                                    a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                        img(src="../../../img/img--project-3.jpg" alt /)
                            .general-list__el__content__doer
                                span.title Исполнитель выбран

                                .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                                .general-list__el__content
                                    .general-list__el__content__title
                                        a(href="").general-list__el__content__title-name Пушкин Александр

                                    p Все эскизы прикрепляю к сообщению. Для ускорения процесса  предлагаю созвониться в скайпе

            ul.pagination
                li
                    a(href="") 1
                li
                    a(href="") 2
                li
                    a(href="") 3
                li
                    span 4
                li
                    a(href="") 5
                li
                    a(href="") 6

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/projects_user.jpg",opacity: 0.5,top: -516,left: 0,center: false,clip: true,show: false});});




