.inp
    box-sizing border-box
    background transparent
    // background #000 
    box-shadow none
    outline none 
    width 100%
    height 38px  
    display block 
    padding 4px 0
    font-size 17px
    color $cBlack
    border 2px solid #dcdcdc
    border-width 0 0 2px 0 
    border-radius 0px
    -webkit-appearance none
    transition-property background-color border-color
    transition-duration 0.4s
    
       
    &::placeholder
        opacity 1
        color #e8e6e6

    &::placeholder:focus
        opacity 0

.inp.error
  border 2px solid $cRed !important

        
