block vars
    - var title='Title'

extends ../../partials/layout

block content

    .contact
        .width-wrap.contact--title.justifyed
            div
                h1 Контакты
                span Мы всегда рады вашему звонку

            div
                a(href="tel:88002000600").contact--title-phone 8 800 2000 600
                a(href="mailto:info@ambeli.ru").contact--title-mail info@ambeli.ru

        section(id="map").map

        .width-wrap.contact--info
            .contact--info-left
                .contact--info__adress
                    h2 Адрес офиса:
                    span Санкт-Петербург,
                        br
                        =" наб. канала Грибоедова, 79/23"

                .contact--info__service
                    h2 Служба поддержки:
                    a(href="tel:8800900500") 8 800 900 500
                    span пн — пт с 1000 до 2000
                    span сб — вс выходной

            .contact--info-form
                h2 Обратная связь:
                form(action="" method="post").justifyed.main-form
                    .main-form__half
                        label
                            input(type="text" name="name" placeholder="Имя").inp.required
                        label
                            input(type="text" name="phone" placeholder="Телефон").inp.inp-phone.required
                        label
                            input(type="text" name="mail" placeholder="Почта").inp.inp-mail.required

                        a(href="").js-form-submit.btn.btn_l Отправить

                    .main-form__half
                        label
                            textarea(name="wish" placeholder="Напишите нам о своих желаниях и предложениях").inp

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contact.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});