.btn
  box-sizing  border-box
  font-size 18px
  text-align center
  border none
  color $cBlack
  cursor pointer
  transition background-color .4s ease-in-out, color .4s ease-in-out
  border-radius 10px
  padding 0
  outline none
  font-weight bold
  background $cYellow
  box-shadow 3px 3px 0 rgba(0,0,0,0.3)
  display inline-block
    
  &:hover
      text-decoration none
      box-shadow 2px 2px 0 rgba(0,0,0,0.3)

  &:active
      text-decoration none
      box-shadow inset 3px 3px 0 #e8bf00

  &_disabled,
  &[disabled]
      background #cfcfcf
      box-shadow none

.btn_l
  padding 0 24px
  height 41px
  line-height 42px

.btn_s
  padding 0 18px
  height 26px
  line-height 26px
  font-size 14px

.btn.disable
  background #555150
  color #ffffff

.btn_c_blue
  background $cBlue
  color #ffffff !important

.btn_c_blue-l
  background $cBlue_l

.btn.disable:active
  box-shadow none