
<div class="popup--white">
  <h2>Выбор города</h2><span class="current">Ваш город доставки - Смоленск?<a href="">Да</a></span><span>Если нет - выберите из списка</span>
  <ul class="towns">
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
  </ul><a href="" data-hidden="Показать все города" data-show="Скрыть" class="js--change-list change-list">Показать все города</a>
</div>
<script type="text/javascript">$(function(){$('.inp-phone').mask('+7(999)999-99-99');});</script>
<script type="text/javascript">$(function () {$('.fancy').fancybox()});</script>