
<div class="popup--blue">
  <h2>Регистрация</h2>
  <form action="../../../js/ajax/send-ok.php" method="post" class="main-form form-reg">
    <label>
      <input type="text" name="sms" placeholder="Имя" class="inp required"/>
    </label>
    <label>
      <input type="text" name="mail" placeholder="Адрес почты" class="inp inp-mail required"/>
    </label>
    <label>
      <input type="text" name="phone" placeholder="Мобильный телефон" class="inp inp-phone required"/>
    </label>
    <label>
      <input type="password" name="sms" placeholder="Пароль" class="inp required"/>
    </label>
    <label class="checkbox js--need-check">
      <input type="checkbox" checked="checked" name="licence" class="hidden-block"/><i class="psevdochecbox"></i><span>Согласен с<a href="">договором-офертой</a></span>
    </label><a href="" class="js-form-submit btn btn_l">Зарегистрироваться</a>
    <div class="hidden-block"><a href="../pagePopup/popup-code.html" class="fancybox.ajax js--form-ok fancy"></a></div>
  </form>
</div>
<div class="popup--note">
  <p>Если вы зарегистрированы, кликайте <a href="../pagePopup/popup-ent.html" class="fancybox.ajax fancy">сюда.</a> Забыл пароль кликай  <a href="../pagePopup/popup-fgv.html" class="fancybox.ajax fancy">сюда.</a>
  </p>
</div>
<script type="text/javascript">$(function(){$('.inp-phone').mask('+7(999)999-99-99');});</script>
<script type="text/javascript">$(function () {$('.fancy').fancybox()});</script>