block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .tabs.kitchen
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form

                    ul.tabs__caption-constructor
                        li.active
                            span.number
                                i 1
                            span.text Описание и тип

                        li.disable
                            span.number
                                i 2
                            span.text Нижняя часть

                        li.disable
                            span.number
                                i 3
                            span.text Верхняя часть

                        li.disable
                            span.number
                                i 4
                            span.text Фурнитура и фасады

                        li.disable
                            span.number
                                i 5
                            span.text Столешница и стеновая панель

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required

                        span.notification Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце

                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul(data-url="../../../js/ajax/send-ok.php" ).project__about-images
                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-1.jpg" alt /)
                                                a(href="").js--delete-img.delete-img

                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-2.jpg" alt /)
                                                a(href="").js--delete-img.delete-img

                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-3.jpg" alt /)
                                                a(href="").js--delete-img.delete-img


                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .kitchen-type.cupboard__checker
                            span.title Тип кухни

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' )
                                .psevdoradio
                                span Прямая
                                img(src="../../../img/icon--kitchen-1.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' checked)
                                .psevdoradio
                                span Г-образная
                                img(src="../../../img/icon--kitchen-2.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_03' )
                                .psevdoradio
                                span П-образная
                                img(src="../../../img/icon--kitchen-3.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_04' )
                                .psevdoradio
                                span Островная
                                img(src="../../../img/icon--kitchen-4.png" alt /)

                        .cupboard__delivery.cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        span.kitchen-title Нижняя часть

                        img(src='../../../img/img--kitchen-bottom.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Из встраиваемой техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Стиральная машина

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Посудомоечная машина

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Холодильник

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Варочная плита

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Духовка

                        .cupboard__params.cupboard__input_s
                            label
                                span Общее количество полок
                                input(type="text" name="price").inp

                            label
                                span Ообщее количество ящиков
                                input(type="text" name="price").inp

                        .cupboard__color.cupboard__input_l
                            label
                                span Цвет шкафа
                                input(type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки").inp

                        ul.project__about-images

                        div(data-url="../../../js/ajax/load_img.php").js--img--container.add-img
                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                            input(type="file" name="file[]").input-file
                            a(href="").js--img-load

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        span.kitchen-title Верхняя часть

                        img(src='../../../img/img--kitchen-top.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__enter.cupboard__checker
                            span.title Из встраиваемой техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Не нужна

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Открытые полки

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина1 в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Длина2 в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина в мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Из техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Вытяжка

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Микроволновая печь

                        .cupboard__enter.cupboard__checker
                            span.title Двери

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span Распашные

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Подъемные

                        .cupboard__params.cupboard__input_s
                            label
                                span Общее количество полок
                                input(type="text" name="price").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content

                        .cupboard__enter.cupboard__checker
                            span.title Фурнитура

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span Эконом (без доводчиков  дверей и ящиков)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Стандарт (с доводчиками дверей и ящиков)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Премиум (доводчики дверей и ящиков премиум качества, открытие дверей и ящиков нажатием)

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__enter.cupboard__checker
                            span.title Материал фасада

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span ДСП (дешево и сердито)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span МДФ (материал качественне, чем ДСП)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Натуральное дерево

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content

                        img(src='../../../img/img--kitchen-center.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__enter.cupboard__checker
                            span.title Столешница

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span ДСП влагостойкий

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Искусственный камень

                        .cupboard__enter.cupboard__input_l
                            span.title Цвет столешницы

                            label
                                input(type="text" name="color" placeholder="Опишите цвет или дайте ссылки на картинки со шкафами").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__enter.cupboard__checker
                            span.title Стеновая панель

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Нужна панель

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Нужна подсветка


                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__color.cupboard__input_l
                            label
                                span Финальный комментарий к проекту
                                textarea(name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас").inp

                        .cupboard__links
                            a(href="").btn.btn_l.js-form-submit Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/kitchen_2.jpg",opacity: 0.5,top: -252,left: -170,center: false,clip: true,show: false});});