block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .constructor-type
                span.btn.btn_l Опишу кратно
                a(href="") Опишу подробно

            .tabs.kitchen
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required
                                    span.comment  Если в процессе заполнения есть сомнения - пишите сюда


                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul.project__about-images
                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .kitchen-type.cupboard__checker
                            span.title Тип кухни

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' )
                                .psevdoradio
                                span Прямая
                                img(src="../../../img/icon--kitchen-1.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' checked)
                                .psevdoradio
                                span Г-образная
                                img(src="../../../img/icon--kitchen-2.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_03' )
                                .psevdoradio
                                span П-образная
                                img(src="../../../img/icon--kitchen-3.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_04' )
                                .psevdoradio
                                span Островная
                                img(src="../../../img/icon--kitchen-4.png" alt /)

                        .cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/kitchen_s.jpg",opacity: 0.5,top: -256,left: -172,center: false,clip: true,show: false});});