block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .tabs.cupboard
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form
                    ul.tabs__caption-constructor
                        li.active
                            span.number
                                i 1
                            span.text Описание и тип

                        li.disable
                            span.number
                                i 2
                            span.text Размеры и полки

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required

                        span.notification Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце

                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul.project__about-images
                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .cupboard__doors.cupboard__checker
                            span.title Тип дверей

                            .cupboard__doors-type
                                label.radio
                                    input(type="radio" name="doors" value='doors_01' checked)
                                    .psevdoradio
                                    span двери купе

                                label
                                    input(type="checkbox" name="mirror").checkbox
                                    .psevdocheckbox
                                    span + зеркало

                            .cupboard__doors-type.disable
                                label.radio
                                    input(type="radio" name="doors" value='doors_02')
                                    .psevdoradio
                                    span распашные

                                label
                                    input(type="checkbox" name="mirror").checkbox
                                    .psevdocheckbox
                                    span + зеркало

                        .cupboard__delivery.cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        img(src='../../../img/img--cupboard.jpg').cupboard

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Выберете наполнение шкафа:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Штанги для одежды

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Подсветка

                        .cupboard__params.cupboard__input_s
                            label
                                span Количество ящиков (общее во всем шкафу)
                                input(type="text" name="price").inp

                            label
                                span Количество полок (общее во всем шкафу)
                                input(type="text" name="price").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__color.cupboard__input_l
                            label
                                span Цвет шкафа
                                input(type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки").inp

                            label
                                span Финальный комментарий к проекту
                                textarea(name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас").inp

                        .cupboard__links
                            a(href="").btn.btn_l.js-form-submit Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cupboard_2.jpg",opacity: 0.5,top: -130,left: -116,center: false,clip: true,show: false});});