.lk
  padding-top 45px
  padding-bottom 90px

  .lk--links
    margin-top 38px
    margin-bottom 31px
    display block

    li
      display inline-block
      vertical-align top
      padding-bottom 14px
      border-bottom 3px solid transparent
      margin-right 50px
      margin-bottom 15px

      span,
      a
        font-size 24px

    li.active
      border-bottom 3px solid $cYellow

  .lk--content
    .tabs__caption
      display inline-block
      vertical-align top

      li
        border none

    .tabs__content
      display none

    .tabs__content.active
      display block

    .lk--content__userpick
      display inline-block
      vertical-align top
      width 360px

      .lk--content__userpick-img.error
        border 2px dashed $cRed

      .lk--content__userpick-img
        width 360px
        height 360px
        border 2px dashed $cBlue_l
        border-radius 10px
        overflow hidden
        margin-top 10px
        position relative

        .lk--content__userpick--load
          border none
          width auto
          height auto
          left 0
          top 0
          right 0
          bottom 0
          position absolute
          margin 0

        .js--img--container-img
          min-width 360px
          min-height 360px
          width auto
          height auto
          display block

    .two--third
      @media md
        width 515px

  .lk--content-list.two--third
    width 750px

  .lk--content-list
    margin-left -20px
    display block

    li.two--third
      width 745px
      padding-top 38px

      @media md
        width 355px

      span
        @media md
          width 450px

    li.two--half
      width 100%

    li
      display inline-block
      vertical-align top
      margin-left 35px
      width 355px
      margin-bottom 19px

      label.check-agreement
        margin-left 0
      
        .psevdochecbox
          width 18px
          height 18px
          border 2px solid #4a90e2
          border-radius 3px
          position relative
          display inline-block
          vertical-align top
          margin-right 10px

        input:checked +  .psevdochecbox
          background url("../img/icon--check-blue.png") no-repeat 50% 50%

        span
          display inline-block
          vertical-align top

      .jq-file
        width 100%
        box-shadow none
        border-radius 12px
        overflow hidden

        .jq-file__name
          border 2px solid $cBlue_l
          border-radius 12px

        .jq-file__browse
          top 2px
          right 2px
          bottom 2px
          border-radius  0 12px 12px 0

      .jq-file.error
        .jq-file__name
          border 2px solid $cRed

      span
        display block
        font-size 16px
        padding-bottom 10px
        font-weight normal

      .inp
        width 331px
        border 2px solid $cBlue_l
        border-radius 12px
        padding-left 25px
        height 58px

      textarea.inp
        height 80px
        padding-top 15px
        resize none

      .inp.error
        border 2px solid $cRed

      a, button
        display inline-block
        vertical-align top
        height 41px
        line-height 43px
        margin-right 35px
        margin-top 6px

      button.btn_l,
      a.btn_l
        padding 0 20px

  .checkbox
    padding 55px 0 0
    cursor pointer

    .psevdochecbox
      border 2px solid $cBlue_l
      width 21px
      height 21px
      border-radius 10px
      display inline-block
      vertical-align top
      margin-right 13px

    input:checked + .psevdochecbox
      background url("../img/icon--check-blue.png") no-repeat 50% 50%

    label
      cursor pointer

      span
        display inline-block
        vertical-align top
        color $cBlack
        font-size 16px
        line-height 26px

  .lk--content-partition
    display block
    margin-bottom 5px
    padding-top 10px
    padding-left 15px

    span
      display block
      padding-bottom 24px

    label.checkbox
      display inline-block
      vertical-align top
      padding-top 0
      margin-right 25px
      cursor pointer
      margin-bottom 15px

      span
        display inline-block
        vertical-align top
        padding-bottom 0
        font-size 18px
        line-height 24px

  .text-right
    .btn_l
      height 41px
      line-height 43px
      margin-top 35px

  .user-deal--list.general-list
    display block
    margin-left -60px

    .general-list__el
      margin-left 60px
      width 540px
      padding-top 30px
      padding-bottom 18px
      position relative
      border-bottom  1px solid #cfd0d7

      .general-list__el__content
        width 450px

    .general-list__el:nth-child(1),
    .general-list__el:nth-child(2)
      border-top  1px solid #cfd0d7

  .radio-wrap
    display block
    margin-bottom 25px

    span
      display inline-block
      vertical-align top
      color $cBlue_d
      font-size 16px
      line-height 22px

    label
      display inline-block
      vertical-align top
      margin-left 15px
      cursor pointer

      input
        display none

      .psevdoradio
        width 16px
        height 16px
        border 2px solid $cBlue_l
        border-radius 16px
        background #ffffff
        display inline-block
        vertical-align top
        margin-right 13px
        resize none
        position relative

      input:checked + .psevdoradio:after
        content ''
        position absolute
        width 8px
        height 8px
        border-radius 8px
        top 4px
        left 4px
        background $cBlue_l

  .li--history
    display inline-block
    vertical-align top
    width 660px

    .title
      font-size 18px
      display block
      margin-bottom 13px

    .history-form
      margin-bottom 25px

      span
        display block
        font-size 16px
        margin-bottom 4px

      label
        display inline-block
        vertical-align top
        margin-right 13px
        position relative
        width 170px

        .inp
          display block
          width 150px
          padding-left 20px
          border 2px solid $cBlue_l
          border-radius 10px
          height 57px
          text-align center

        .inp.error
          border 2px solid $cRed !important

      label:before
        position absolute
        left 19px
        top 21px
        font-family $fLato
        font-size 16px
        color $cBlack

      .data_to,
      .data_from
        span
          position absolute
          top 18px
          left 19px
          font-size 17px

      .btn
        height 61px
        line-height 63px

    .history--list
      display block
      border-top 1px solid #d9d9d9

      li
        padding 25px 0 21px
        border-bottom 1px solid #d9d9d9
        width 100%

        .history--list-time,
        .history--list-status,
        .history--list-link,
        .history--list-price
          display inline-block
          vertical-align top
          font-size 14px
          line-height 19px

        .history--list-time
          width 160px
          font-weight bold

        .history--list-status
          width 170px
          color #666666

        .history--list-link
          color #666666
          text-decoration underline
          width 120px

        .history--list-price
          width 100px
          text-align right
          font-weight bold
          font-size 18px

.message
  padding-bottom 50px

  .pagination-wrap
    display inline-block
    vertical-align top
    width 540px

  .chat--pagination
    display block
    text-align left
    padding-top 30px

    li
      display inline-block
      vertical-align top
      margin-right 10px

      a
        display block
        text-decoration underline
        font-size 16px
        font-weight bold
        color $cBlue_l
        cursor pointer

    li.active
      a
        text-decoration none
        color #000000
        cursor default

  .chat--list
    display block
    margin-top 30px

    @media md
      width 450px

    .general-list__el
      width 510px
      padding 30px
      padding-left 0
      position relative
      border 2px solid transparent
      border-bottom  1px solid #cfd0d7
      cursor pointer

      @media md
        width 420px

      &__content
        display inline-block
        vertical-align top
        width 400px

        @media md
          width 310px

        p
          padding-bottom 17px

    .general-list__el.active
      padding-left 30px
      width 480px
      border 2px solid $cYellow

      @media md
        width 390px

  .chat
    display inline-block
    vertical-align top
    width 540px
    padding-top 27px

    @media md
      width 420px

    h2
      display block
      margin-bottom 12px
      font-size 24px
      font-weight bold

    .message-list
      display block
      border-top 1px solid #cfd0d7
      max-height 800px
      overflow-y scroll

      .general-list__el
        display block
        border-bottom  1px solid #cfd0d7
        padding 30px 0 19px

        &__content
          display inline-block
          vertical-align top
          width 410px

          @media md
            width 330px

        .general-list__el__content-img
          margin-bottom 0

    .form-message
      display block
      margin-top 30px

      .inp
        border 2px solid $cBlue_l
        padding 15px 30px
        height 80px
        display block
        border-radius 10px
        resize none
        width 480px
        margin-bottom 30px

        @media md
          width 360px

      .inp.error
          border 2px solid $cRed !important

      .btn
        height 41px
        line-height 43px
        padding 0 28px