#index
  .promo
    background url("../img/bg--index-promo.jpg") no-repeat 50% 50%
    background-size cover
    padding-bottom 64px

    &--content
      display block
      margin-top 90px
      width 670px
      margin-left -6px

      span
        display block
        color #FFFFFF
        font-family $fLato_l
        font-size 48px
        line-height 52px
        margin-bottom 12px

      p
        display block
        color #ffffff
        font-size 24px
        line-height 36px
        width 610px
        font-weight normal

  .best
    background $cBlue_l
    padding 19px 0 19px
    position relative
    z-index 10

    @media md
      padding 39px 0 19px

    .best--form
      position relative

    span,
    img,
    a
      display inline-block
      vertical-align top

    a.btn_l
      height 61px
      line-height 63px

    span
      color #ffffff
      padding-top 13px

      @media md
        position absolute
        left 0
        top -45px

    .jq-selectbox
      display inline-block
      vertical-align top
      width 256px
      height 48px
      border 2px solid #FFFFFF
      border-radius 10px
      box-shadow none
      background  none
      
      @media md
        width 230px

      .jq-selectbox__select
        background none
        box-shadow none
        border none
        height 48px
        text-shadow none
        line-height 46px
        color #FFFFFF
        font-size 18px
        font-family $fLato
        padding-right 26px
        padding-left 25px

      .jq-selectbox__trigger
        border none

      .jq-selectbox__trigger-arrow,
      .jq-selectbox__trigger-arrow:hover,
      .jq-selectbox__trigger-arrow:active
        border-top 10px solid #ffffff
        border-right 6px solid transparent
        border-left 6px solid transparent
        top 19px

      .jq-selectbox__dropdown
        position absolute 
        left -3px
        right -3px
        top -3px 
        display block 
        height auto 
        bottom auto 
        border 2px solid #e9e9e9
        border-radius 10px
        width auto
        box-shadow none

        ul
          border-radius 10px

        li
          display block
          border-bottom 1px solid #e9e9e9
          padding 12px 0 11px
          color $cBlack
          padding-left 25px

        li.selected,
        li:hover
          background $cYellow


    .jq-selectbox:nth-child(2)
      width 296px

      @media md
        width 230px

    .img
      width 77px
      margin-top -15px
      margin-left -12px

      img
        display block
        width 77px

  .steps
    padding 65px 0 0

    &--list
      margin-top 47px
      position relative
      z-index 5

      li
        display inline-block
        vertical-align top
        width 280px !important
        position relative

        @media md
          width 350px !important

        img
          display block
          height 100px
          margin 0 auto 44px

        .steps--list-number
          position absolute
          left 0
          top 21px
          font-size 30px
          line-height 65px
          text-align center
          font-weight bold
          width 63px
          height 63px
          border-radius 63px
          background $cYellow

          @media md
            left 30px

        .steps--list-title
          font-weight bold
          margin-bottom 20px
          min-height 42px
          display block

      li:nth-child(2):before,
      li:nth-child(2):after
        position absolute
        content ''
        height 190px
        border-right 1px solid #c8c8c8
        top 140px

      li:nth-child(1):after,
      li:nth-child(3):after
        @media md
          position absolute
          content ''
          height 190px
          border-right 1px solid #c8c8c8
          top 140px
          right 0

      li:nth-child(2):before
        left -38px

      li:nth-child(2):after
        right -38px


    &--list.justifyed
      display inline !important

      li
        width 350px
        padding-right 70px
        margin-bottom 30px
        padding-left 30px

      li:nth-child(2):before,
      li:nth-child(2):after
        display none

    .stept--img
      position absolute
      width 665px
      bottom 0
      left 50%
      margin-left -65px
      z-index 0

      @media md
        margin-left -332px

    .steps--total
      width 370px
      margin-top 143px

      @media md
        position absolute
        width 350px
        top 230px
        left 450px
        z-index 5
        padding-left 30px

      img
        display block
        margin 0 auto 33px
        height 120px

      span
        font-weight bold
        margin-bottom 2px
        min-height 42px
        display block

      p
        font-size 18px
        line-height 24px

    .width-wrap
      position relative
      padding-bottom 100px

      @media md
        padding-bottom 500px

  .index--economy
    padding 15px 0 14px
    background #ebebeb

    span
      display block
      font-size 14px
      line-height 23px
      font-style italic

  .manufacturer
    padding 96px 0 113px
    background url("../img/bg--man.jpg") no-repeat 50% 50%
    background-size cover

    h1
      color #ffffff

    .manufacturer--list
      margin-top 45px

      li
        width 240px
        position relative

        @media md
          width 400px
          padding 0 20px
          margin-bottom 30px

        img
          display block
          height 100px
          margin 0 auto 46px

          @media md
            display inline-block
            vertical-align top
            margin-right 40px
            width 65px

        .content
          @media md
            display inline-block
            vertical-align top
            width 280px

          span
            display block
            font-weight bold
            font-size 18px
            line-height 23px
            margin-bottom 20px
            color #ffffff

            @media md
              margin-bottom 10px

          p
            font-size 14px
            line-height 19px
            color #ffffff
            padding-right 15px

      li:after
        position absolute
        content ''
        border-right 1px solid #c8c8c8
        height 190px
        top 145px
        right -30px

        @media md
          display none

      li:last-child:after
        display none

    .manufacturer--list.justifyed
      @media md
        display block !important
        justify-content inherit !important

    .manufacturer--text
      display block
      text-align center
      margin-top 100px

      @media md
        margin-top 50px

      img
        display block
        margin 0 auto 25px
        height 163px

      span
        display block
        text-align center
        font-size 24px
        padding-bottom 10px
        color #ffffff

      p
        font-size 14px
        line-height 19px
        padding-bottom 27px
        color #ffffff

      .btn
        padding 0 40px 