.rating
  .glyphicon-star
    display inline-block
    vertical-align top
    margin-right 2px
    cursor pointer !important
    font-family FontAwesome
    font-size 18px !important
    color #d7d7d7

  .glyphicon-star:before
    content "\f005"