.psevdofooter
  display block
  height 140px

.footer
  height 140px
  position absolute
  bottom 0
  left 0
  right 0
  min-width 1200px

  @media md
    min-width 900px

  .width-wrap
    padding-top 50px
    border-top 1px solid #c8c8c8

    .footer--copyright,
    .footer--nav
      display inline-block
      vertical-align top

    .footer--copyright
      span
        display block
        font-size 14px
        font-weight lighter

      a
        display inline-block
        vertical-align top
        font-size 12px
        line-height 12px
        text-decoration underline
        font-family $fLato_l

    .footer--nav
      padding-top 8px

      li
        display inline-block
        vertical-align top
        margin-left 32px

        span,
        a
          display block
          font-size 14px

        span
          border-bottom 1px solid $cBlack

#index
  .footer
    .width-wrap
      border-top none