.header
  height 50px
  background $cBlue_d

  .width-wrap
    position relative
    height 50px

  .width-wrap:after
    position absolute
    right -700px
    top 0
    bottom 0
    width 700px
    background $cBlue
    content ''

  &__left,
  &__right
    display inline-block
    vertical-align top

  .header-town
    text-shadow none
    color #FFFFFF
    font-family $fLato
    font-size 16px
    margin-top 11px
    display inline-block
    vertical-align top
    margin-right 25px
    position relative

  .header-town:after
    position absolute
    content ''
    width 12px
    height 11px
    background url("../img/icon--arrow-bottom.png") no-repeat 0 0
    top 8px
    right -19px

  .header--call
    display inline-block
    vertical-align top
    height 50px
    border-left 1px solid #47536c
    padding-left 15px
    line-height 48px
    color #ffffff
    font-size 14px

  .header__search
    display inline-block
    vertical-align top
    width 180px
    margin-right 13px

  .header__lk
    display inline-block
    vertical-align top
    height 50px
    padding-left 2px
    background $cBlue
    border-left 1px solid #47536c
    text-align right

    &-message
      display inline-block
      vertical-align top
      margin-right 10px
      height 50px
      border-right 1px solid #6e7d98
      position relative
      width 45px

      img
        margin 16px auto 0
        display block

    &-message.new-message:after
      position absolute
      content ""
      width 7px
      height 7px
      background #db2828
      border-radius 7px
      border 1px solid #ffffff
      top 13px
      right 10px;

    &-userpick
      display inline-block
      vertical-align top
      width 30px
      height 30px
      border 2px solid #ffffff
      border-radius 30px
      margin-top 7px

    .content
      display inline-block
      vertical-align top
      text-align left
      padding-left 10px
      padding-top 4px

      .header__lk-name
        display block
        text-decoration underline
        color #ffffff
        line-height 18px
        margin-bottom 3px
        font-size 14px

      .header__lk-orders
        display inline-block
        vertical-align top
        margin-right 5px
        color #ffffff
        font-size 14px
        line-height 18px
        text-decoration underline

      .header__lk-logout
        display: inline-block;
        vertical-align: top;
        color: #fff;
        font-size: 14px;
        line-height: 10px;
        border-bottom: 1px dotted #fff;
        padding-top: 4px;

    .lk--enter,
    span
      display inline-block
      vertical-align top
      color #ffffff
      line-height 18px
      margin-left 9px
      font-size 14px
      padding-top 16px

    .lk--enter
      border-bottom 1px dotted #ffffff

    .lk--enter:hover
      border-bottom 1px solid #ffffff

    .btn
      margin-top 12px
      margin-left 15px
      
  .form--search
    position relative
    width 180px
    margin-top 12px

    .inp
      display block
      background transparent
      border 2px solid #ffffff
      height 21px
      width 141px
      color #ffffff
      padding-left 10px
      padding-right 25px
      font-size 16px

    .inp::-webkit-input-placeholder
      color #ffffff
    .inp:::-moz-placeholder
      color #ffffff
    .inp::-moz-placeholder
      color #ffffff
    .inp::-ms-input-placeholder
      color #ffffff

    .search-icon
      position absolute
      z-index 5
      width 14px
      height 14px
      top 7px
      right 9px
      cursor pointer

nav
  padding-top 32px

  .width-wrap
    border-bottom 1px solid #8893ab
    padding-bottom 18px

  .nav--logo
    display inline-block
    vertical-align top
    margin-left -8px
    height 33px

    img
      width 194px

  .main--nav
    display inline-block
    vertical-align top
    margin-top 18px

    li
      margin-left 30px

      span,
      a
        display block
        color $cBlue_d

      span
        border-bottom 2px solid $cBlue_d

.about,
#index
  nav
    .width-wrap
      border-bottom 1px solid #ffffff

    .main--nav
      li
        span,
        a
          color #ffffff

        span
          border-bottom 2px solid #ffffff


.breadcrumbs
  display block
  padding-top 7px
  padding-bottom 13px

  li
    display inline-block
    vertical-align top
    margin-right 17px
    position relative

    a
      display block
      text-decoration underline
      font-size 12px

    span
      font-size 12px

  li:after
    content '-'
    position absolute
    top 1px
    right -11px

  li:last-child:after
    display none

  li.back
    padding-left 24px

    a
      color #999999

  li.back:before
    position absolute
    content "←"
    left 0
    color #000000

.pagination
  display block
  padding 30px 0 30px

  li
    display inline-block
    vertical-align top
    margin-right 25px

    a, span
      display block
      line-height 21px

    a
      color #a8a8a8
      font-size 18px

    span
      color $cBlack
      font-size 24px
      border-bottom 1px solid #000000
