.general-list
  display block

  &__el.favourite
    .general-list__el-favourite
      background url(../img/sprite--arrow.png) no-repeat 0 -18px

  &__el
    padding 30px 0
    position relative

    &-favourite
      position absolute
      content ''
      width 19px
      height 18px
      top 20px
      right 20px
      background url(../img/sprite--arrow.png) no-repeat 0 0
      z-index 10

    &-message
      position absolute
      top 10px
      right 10px
      z-index 5
      font normal normal normal 14px/1 FontAwesome

    &-message:after
      content "\f0e0"
      color $cBlue_l

    &--img
      display inline-flex
      justify-content  center
      align-items center
      margin-right 7px
      vertical-align top
      width 60px
      height 60px
      border 2px solid #cfd0d7
      overflow hidden

      img
        display block
        min-width 100%
        min-height 100%
        width auto
        height auto

    &--img.square-img
      border-radius 3px

    &--img.round-img
      border-radius 60px

    &__content
      display inline-block
      vertical-align top

      &__title
        display block
        padding-top 1px

        a,
        span
          display inline-block
          vertical-align top
          height 13px
          line-height 15px

        a:last-child,
        span:last-child
          border-right none !important

        &-name
          font-size 14px
          font-weight bold
          color #000000
          margin-right 4px

        a.general-list__el__content__title-name
          text-decoration underline

        &-link
          color #626262
          font-size 14px
          text-decoration underline
          border-left 1px solid #626262
          display inline-block
          vertical-align top
          padding-left 7px
          margin-right 3px

        span.general-list__el__content__title-link
          text-decoration none

        .stars--list-s
          display inline-block
          vertical-align top
          padding-left 10px
          border-left 1px solid #626262
          height 13px

          li
            display inline-block
            vertical-align top
            width 6px
            height 6px
            border-radius 6px
            background #626262
            margin-top 4px
            margin-right 5px
            border none

          li.color
            background $cYellow

        .btn
          font-size 12px
          padding 0 10px
          box-shadow none !important
          height 19px
          line-height 19px
          margin-top -1px
          border-radius 7px
          margin-left 10px

      p
        display block
        color #626262
        font-size 14px
        line-height 18px
        padding-bottom 17px

      &__btns
        display block

        a,
        span
          display inline-block
          vertical-align top
          margin-right 8px

        a
          font-size 12px
          height 19px
          line-height 19px
          text-decoration underline
          color $cBlue
          display inline-block
          vertical-align top

        span.btn,
        a.btn
          display inline-block
          vertical-align top
          box-shadow none !important
          text-decoration none
          height 19px
          line-height 19px
          font-size 12px
          color #ffffff
          padding 0 8px

      &-img
        margin-bottom 33px

        li
          display inline-block
          vertical-align top
          margin-right 30px

          a
            display block
            width 100px
            height 100px
            border-radius 10px
            border 2px solid #cfd0d7
            overflow hidden

            img
              display block
              min-height 100%
              min-width 100%

      &__params
        display inline-block
        vertical-align top
        padding 12px 5px 11px
        border-top 1px solid #c8c8c8
        border-bottom 1px solid #c8c8c8

        &-price
          display inline-block
          vertical-align top
          font-size 48px
          margin-right 17px
          line-height 48px

        &-price.roubl:after
          content 'o'
          padding-left 8px

        &-time
          display inline-block
          vertical-align top
          padding-top 5px

          span
            display block
            font-size 14px
            line-height 18px
            color #3a3a3a

      &__links
        padding-top 18px
        padding-bottom 12px

        span,
        a
          display inline-block
          vertical-align middle
          border-bottom 1px dotted #000000
          margin-right 33px

        a.btn
          display inline-block
          vertical-align middle
          width auto
          border-bottom none
          margin-top 0
          padding 0 20px
          height 40px
          line-height 41px

        span
          border-bottom none
          margin-right 0

      &__doer
        padding-top 30px
        padding-bottom 38px

        .title
          display block
          font-size 18px
          padding-bottom 22px
          padding-left 5px

        .general-list__el__content
          width 370px

          &__title
            padding-bottom 0

            &-name
              font-size 14px !important
              border-bottom none !important

          p
            line-height 20px !important
            margin-top -4px

        .btn
          display block
          width 190px
          margin-top 17px
          height 41px
          line-height 42px
          padding 0

.general-list.has-doer
  .js--make-doer
    display none !important

.general-list__el.refuse
  .js--refuse
    display none

  .js--make-doer
    display none !important