.js--img--container
  position relative

  .js--img--container-img
    display flex !important
    justify-content  center
    align-items center

    img
      max-height 100%
      max-width 100%

  input
    display none

  a
    position absolute
    top 50%
    left 50%
    width 42px
    height 43px
    margin-left -21px
    margin-top -21px
    z-index 5px
    cursor pointer
    background url("../img/icon--cross.png") no-repeat 0 0
