.popup--blue
  background $cBlue
  width 300px
  padding 35px

  h2
    text-align left
    color #ffffff
    margin-bottom 15px

  p
    display block
    color #ffffff
    font-size 14px
    margin-bottom 15px

  .main-form
    display block
    width 300px

    label
      display block
      position relative
      margin-bottom 10px

      .forgive-pass
        position absolute
        color #FFFFFF
        font-size 12px
        text-decoration underline
        z-index 10
        top 19px
        right 10px

      .inp.error
        border 2px solid $cRed

      .inp
        width 271px
        border 2px solid #FFFFFF
        border-radius 10px
        height 57px
        padding-left 25px
        background transparent
        font-family $fLato
        font-size 18px
        line-height 24px
        color #ffffff

      .inp::-webkit-input-placeholder
        color #ffffff
      .inp:::-moz-placeholder
        color #ffffff
      .inp::-moz-placeholder
        color #ffffff
      .inp::-ms-input-placeholder
        color #ffffff

    label.checkbox
      padding 20px 0 20px

      .psevdochecbox
        border 2px solid #FFFFFF
        width 16px
        height 16px
        border-radius 3px
        display inline-block
        vertical-align top
        margin-right 10px

      input:checked + .psevdochecbox
        background url("../img/icon--check.png") no-repeat 50% 50%

      span
        display inline-block
        vertical-align top
        color #ffffff
        font-size 16px
        line-height 21px

        a
          display inline
          color $cYellow
          text-decoration underline
          padding-left 5px

    .btn
      width 300px
      height 57px
      line-height 60px

.popup--note
  width 370px
  padding-top 20px
  text-align center

  p
    color #FFFFFF

    a
      display inline
      padding 0 5px
      color $cYellow
      text-decoration underline

.popup--opinion
  width 540px
  padding 50px 60px
  background #FFFFFF

  .text-center
    padding-top 20px

  h2
    color $cBlue_d
    font-size 24px
    display block
    border-bottom 1px solid #d7d7d7
    padding-bottom 10px
    margin-bottom 25px
    font-weight bold

  span
    font-size 18px
    color $cBlue_d

  span.title
    margin-bottom 15px
    display block

  .rating-wrap
    margin-bottom 15px

    label
      display block
      margin-bottom 5px

      .rating,
      span
        display inline-block
        vertical-align top
        margin-bottom 0

      .rating
        margin-right 10px

        span.ratingicon
          display inline-block
          vertical-align top

  .inp
    display block
    border 2px solid $cBlue_l
    border-radius 10px

  textarea.inp
    padding 20px 30px
    margin-bottom 15px
    width 480px
    height 80px

  .radio--wrap
    margin-bottom 15px

    label
      display inline-block
      vertical-align top
      margin-right 15px
      cursor pointer

      input
        display none

      .psevdoradio
        width 16px
        height 16px
        border 2px solid $cBlue_l
        border-radius 16px
        background #ffffff
        display inline-block
        vertical-align top
        margin-right 15px
        resize none
        position relative

      span
        display inline-block
        vertical-align top

      input:checked + .psevdoradio:after
        content ''
        position absolute
        width 8px
        height 8px
        border-radius 8px
        top 4px
        left 4px
        background $cBlue_l

  .price
    margin-bottom 15px

    .inp
      width 120px
      padding-left 30px
      height 51px

  .change-project
    margin-bottom 25px

    label
      display inline-block
      vertical-align top
      margin-right 20px

      .inp
        width 120px
        padding-left 30px
        height 51px

  .btn
    width 180px
    height 41px
    line-height 43px

  .inp.error
    border 2px solid $cRed

  .new-opinion
    display block

    &--img
      display inline-flex
      justify-content  center
      align-items center
      overflow hidden
      width 60px
      height 60px
      border 2px solid #d7d7d7
      border-radius 60px

    &--content
      display inline-block
      vertical-align top
      width 450px
      margin-left 15px

      .author
        display block
        margin-bottom 10px
        font-weight bold
        color #000000
        font-size 14px

      p
        color #6c6c6c
        font-size 14px
        line-height 18px

  .man-rating
    margin-bottom 15px

    div
      display block
      margin-bottom 5px

      .stars-list
        display inline-block
        vertical-align top
        margin-right 10px

        li
          display inline-block
          vertical-align top
          margin-right 2px
          cursor default
          font-family FontAwesome
          font-size 18px
          color #d7d7d7

        li:before
          content "\f005"

        li.active
          color $cYellow


      span
        display inline-block
        vertical-align top

  .user-opinion
    padding-bottom 15px
    margin-bottom 15px
    border-bottom  1px solid #d7d7d7

    .title
      margin-bottom 15px
      font-weight bold

    p
      display block
      margin-bottom 10px

    &__params
      display inline-block
      vertical-align top
      border-top  1px solid #d7d7d7
      padding-top 15px

      &-price
        display inline-block
        vertical-align top
        font-size 48px
        line-height 50px
        margin-right 20px
        font-family $fLato_l

      &-price:after
        content " k" !important

      &-time
        display inline-block
        vertical-align top
        padding-top 9px

        span
          display block
          color #3a3a3a
          font-size 14px
          line-height 16px


.popup--white
  background #ffffff
  width 500px
  padding 35px

  h2
    color $cBlue
    padding-bottom 20px

  span
    display block
    padding-bottom 10px
    color #333333

  span.current
    font-weight bold

    a
      display inline-block
      margin-left 5px
      color $cBlue
      text-decoration underline

  .towns
    height 120px
    overflow hidden
    margin-bottom 10px
    display block

    li
      display inline-block
      vertical-align top
      width 30%

      a
        display block
        color $cBlue

      a:hover
        text-decoration underline

  .towns.show
    overflow-y scroll

  .change-list
    float right
    display inline-block
    vertical-align top
    color $cBlue
    text-decoration underline
    margin-top -2px

