#index
  .blog
    padding-top 76px

.breadcrumbs + .blog
  padding 0 0 30px

.blog
  padding 45px 0 30px

  .blog--list
    margin-left -30px
    margin-top 20px

    &__el
      margin-left 35px
      width 255px
      margin-bottom 20px

      .blog--list__content
        display block
        padding 30px 0 0

        .blog--list__content-title
          display block
          text-decoration underline
          font-weight bold
          font-size 18px
          line-height 21px
          margin-bottom 12px

        p
          display block
          font-size 14px
          line-height 21px
          margin-bottom 10px

        .tags--list
          display block

          li
            display inline-block
            vertical-align top
            margin-right 5px
            margin-bottom 5px

            a
              display block
              padding 0 10px
              background $cBlue_l
              height 17px
              line-height 17px
              font-size 12px
              color #ffffff
              border-radius 10px

    &__el.one--half
      width 476px
      border 2px solid $cYellow
      padding 30px 30px 18px

      .blog--list__img
        display inline-block
        vertical-align top
        text-align center
        width 210px
        margin-right 20px

        img
          display block
          margin 0 auto
          width 170px

      .blog--list__content
        display inline-block
        vertical-align top
        width 240px
        padding 0

    &__el.float-left
      float left
      width 476px
      border 2px solid $cYellow
      background $cYellow
      padding 30px 30px 18px
      position relative

      .blog--list__img
        display block
        text-align center
        margin-bottom 20px

        img
          display block
          margin 0 auto
          max-width 210px

      .blog--list__content
        display block
        padding 0

      .tags--list
        position absolute
        text-align right
        top 10px
        right 10px

        li
          display block
          margin 0 0 10px

  .blog__inner
    width 870px
    display inline-block
    vertical-align top

    article
      padding-bottom 54px
      border-bottom 1px solid #c8c8c8

      h1
        margin-bottom -5px

      h2
        margin-bottom 20px

      time
        font-size 12px
        margin-bottom 25px
        display block

      p
        display block
        margin-bottom 25px

      img
        width 100%
        margin-bottom 42px
        margin-top 22px

      blockquote
        padding-left 105px
        margin-top 80px
        background url(../img/icon--quote.png) no-repeat 26px 0
        padding-top 28px
        line-height 25px

    .article--author
      display block
      padding-top 45px

      .article--author__info
        justify-content  flex-start
        align-items center
        margin-bottom 54px

        img
          display inline-block
          vertical-align middle
          width 109px
          height 109px
          border-radius 109px
          margin-right 25px

        span
          display inline-block
          vertical-align top
          width 670px
          color #707070
          font-size 14px
          line-height 21px

          strong
            display block
            font-weight bold
            font-size 18px

      p
        margin-bottom 13px

  aside
    display inline-block
    vertical-align top
    width 240px
    padding-top 70px

    .blog--list__el
      width 240px
