.contact
  padding 45px 0 0

  .contact--title
    padding-bottom 42px

    div
      display inline-block
      vertical-align top

      h1
        margin-bottom 5px

      .contact--title-phone
        display block
        font-size 48px
        font-family $fLato_l
        padding-bottom 18px
        margin-top 23px

      .contact--title-mail
        display inline-block
        vertical-align top
        text-decoration underline
        font-size 30px

  .map
    height 410px
    margin-bottom 65px

    .ymaps-2-1-35-copyright__content,
    .ymaps-2-1-35-map-copyrights-promo
      display none

  .contact--info
    border-bottom 1px solid #c8c8c8
    padding-bottom 143px

    @media md
      padding-bottom 60px

    h2
      margin-bottom 20px
      font-size 24px

    .contact--info-left
      display inline-block
      vertical-align top
      width 270px

      .contact--info__adress
        padding-bottom 59px

        span
          font-size 18px
          line-height 26px

      .contact--info__service
        a
          display inline-block
          vertical-align top
          border-bottom 1px solid #bebebe
          padding-bottom 10px
          font-size 23px
          font-weight bold
          color $cBlue
          width 190px
          margin-bottom 11px

        span
          display block
          font-family $fLato_l
          padding-bottom 5px

    .contact--info-form
      display inline-block
      vertical-align top
      width 690px
      margin-left 143px

      @media md
        width 600px
        margin-left 20px

      .main-form__half
        display inline-block
        vertical-align top
        width 330px
        padding-top 10px

        @media md
          width 260px

        label
          display block
          margin-bottom 11px

          .inp
            width 301px
            border 2px solid #c8c8c8
            height 57px
            border-radius 10px
            padding-left 25px

          .inp:focus
            border 2px solid #010101

          .inp.error
            border 2px solid $cRed

          textarea.inp
            padding-top 15px
            padding-right 25px
            width 275px
            height 190px
            resize none

        .btn
          width 100%
          display block
          margin-top 22px
          height 61px
          line-height 63px

