@font-face {
  font-family: 'als_rublregular';
  src: url('../fnt/rouble-webfont.eot');
  src: url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fnt/rouble-webfont.woff2') format('woff2'),
       url('../fnt/rouble-webfont.woff') format('woff'),
       url('../fnt/rouble-webfont.ttf') format('truetype'),
       url('../fnt/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "LatoRegular";
    src: url("../fnt/Lato/LatoRegular/LatoRegular.eot");
    src: url("../fnt/Lato/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fnt/Lato/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fnt/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoRegular";
    src: url("../fnt/Lato/LatoBold/LatoBold.eot");
    src: url("../fnt/Lato/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fnt/Lato/LatoBold/LatoBold.woff") format("woff"),
    url("../fnt/Lato/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fnt/Lato/LatoLight/LatoLight.eot");
  src: url("../fnt/Lato/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../fnt/Lato/LatoLight/LatoLight.woff") format("woff"),
  url("../fnt/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// font vars

$fLato = LatoRegular, sans-serif
$fLato_l = LatoLight, sans-serif