// Retina images mixin

img2x( imgpath, w, h )

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx)

        background-image url(imgpath)
        background-size w h

// Clearfix

cf()
    &:after
        content ""
        display table
        clear both

// media queries
// breakpoints [320<-640] [640<-768->900] [900<-1024->1300] [1300<-1440->1600] [1600<-1920]

md = '(max-width: 1220px)'


