
// Variables

$cBlue_d = #1f2d4c
$cBlue = #2b3e69
$cBlue_l = #4a90e2
$cYellow = #ffd200
$cRed = #e84e4e
$cBlack = #010101

html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased 

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 960px

body
  font-family $fAcrom
  font-size 14px
  color $cBlack
  min-height 100%
  height 100%
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background #fff


.page-wrap
  min-height 100%
  position relative
  min-width 960px
  overflow hidden

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  margin 0 
  padding 0 
  font-weight normal 
  list-style none 


/***** ie fix ****/
a img
  border none


input
textarea
  font-family 'Open Sans', sans-serif
  color $cBlack
  outline none

button
  font-family 'Open Sans', sans-serif

a
  outline none
  color $cBlue
  text-decoration none

  &:hover
   text-decoration none
   color $cGreen

/*.rubl
  font-family 'als_rublregular'
  font-weight normal
  font-style normal  */

.wrapper
  overflow hidden

.clear
  clear both
  font-size 0
  line-height 0
  height 0

.clearfix:after
.section:after
  content "" 
  display table 
  clear both 

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right
   
.section
  position relative

.justifyed
  display flex !important
  justify-content  space-between
  align-items flex-start
  
.width-wrap
  display block
  margin 0 auto
  width 1140px

  @media md
    width 900px

// отступы между горизонтальными li
ol, ul, .grid
  list-style none 
  font-size:0 
  line-height:0 
  letter-spacing:-1px 


li, .grid-item
  line-height:normal 
  letter-spacing:normal 
  display:inline-block 
  vertical-align top 
  zoom:1

.hidden-block
  display none !important

.two--third
  width 760px

.roubl:after
  content " o"
  font-size inherit
  color inherit
  font-family als_rublregular
  font-weight inherit