a, p, span, li, input, time, blockquote, textarea, button
  font-family $fLato
  font-size 18px
  line-height 24px
  text-decoration none
  color $cBlack

a
  cursor pointer

h1
  font-family $fLato
  color $cBlack
  font-size 48px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  font-family $fLato
  color $cBlack
  font-size 30px
  display block
  font-weight bold

