.popup--blue
    h2 Регистрация

    p Для того. чтобы закончить регистрациюнужно ввести код, который мы&nbsp;отправиливам на&nbsp;почту.

    form(action="" method="post").main-form
        label
            input(type="text" name="sms" placeholder="Код").inp.required
            a(href="../pagePopup/popup-fgv.html" class="fancybox.ajax").fancy.forgive-pass Забыли пароль
        a(href="").js-form-submit.btn.btn_l Вперед >

.hidden-block
    a(href="../pagePopup/popup-ok.html" class="fancybox.ajax").js--form-ok.fancy