.popup--blue
    h2 Регистрация

    form(action="../../../js/ajax/send-ok.php" method="post").main-form.form-reg
        label
            input(type="text" name="sms" placeholder="Имя").inp.required
        label
            input(type="text" name="mail" placeholder="Адрес почты").inp.inp-mail.required
        label
            input(type="text" name="phone" placeholder="Мобильный телефон").inp.inp-phone.required
        label
            input(type="password" name="sms" placeholder="Пароль").inp.required
        label.checkbox.js--need-check
            input(type="checkbox" checked name="licence").hidden-block
            i.psevdochecbox
            span Согласен с
                a(href="") договором-офертой


        a(href="").js-form-submit.btn.btn_l Зарегистрироваться

        .hidden-block
            a(href="../pagePopup/popup-code.html" class="fancybox.ajax").js--form-ok.fancy

.popup--note
    p Если вы зарегистрированы, кликайте 
        a(href="../pagePopup/popup-ent.html" class="fancybox.ajax").fancy сюда.
        =" Забыл пароль кликай  "
        a(href="../pagePopup/popup-fgv.html" class="fancybox.ajax").fancy сюда.



script(type="text/javascript" ) $(function(){$('.inp-phone').mask('+7(999)999-99-99');});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});