.popup--blue
    h2 Войти
    form(action="../../../js/ajax/send-ok.php" method="post").main-form
        label
            input(type="text" name="sms" placeholder="Адрес почты").inp.inp-mail.required
        label
            input(type="password" name="sms" placeholder="Пароль").inp.required
            a(href="../pagePopup/popup-fgv.html" class="fancybox.ajax").fancy.forgive-pass Забыли пароль
        label.checkbox.js--need-check
            input(type="checkbox" checked name="licence").hidden-block
            i.psevdochecbox
            span Запомнить меня

        a(href="").js-form-submit.btn.btn_l Зарегистрироваться

        .hidden-block
            a(href="#").js--form-ok

.popup--note
    p Если вы еще не зарегистрированы, кликните
        a(href="../pagePopup/popup-reg.html" class="fancybox.ajax").fancy сюда.


script(type="text/javascript" ) $(function () {$('.inp-phone').mask('+7(999)999-99-99');});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});