.popup--opinion
    h2 Оставлен отзыв

    .new-opinion
        .new-opinion--img
            img(src="../../../img/img--author.jpg" alt /)
        .new-opinion--content
            span.author Брюс Уиллис
            p Достоинства: Цвет. Недостатки: Не видно. Комментарий:Мало информации на сайте. Нет подробных фоток и не указана комплектация.
