.popup--white
    h2 Выбор города

    span.current Ваш город доставки - Смоленск?
        a(href="") Да

    span Если нет - выберите из списка

    ul.towns
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город

    a(href="" data-hidden="Показать все города" data-show="Скрыть").js--change-list.change-list Показать все города

script(type="text/javascript" ) $(function(){$('.inp-phone').mask('+7(999)999-99-99');});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});