.project-filter__category-hidden.project-filter__category
    span.title Категория

    form(action="../../../js/ajax/load_history.php" method="post").project-filter

        label
            input(type="checkbox" name="filter_category" value="cat_01")
            .psevdochecbox
            span Кухни

        label
            input(type="checkbox" name="filter_category" value="cat_02")
            .psevdochecbox
            span Шкафы

        label
            input(type="checkbox" name="filter_category" value="cat_03")
            .psevdochecbox
            span Шкафы-купе

        label
            input(type="checkbox" name="filter_category" value="cat_04")
            .psevdochecbox
            span Кровати

        label
            input(type="checkbox" name="filter_category" value="cat_05")
            .psevdochecbox
            span Гардеробные и стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_06")
            .psevdochecbox
            span Стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_01")
            .psevdochecbox
            span Кухни

        label
            input(type="checkbox" name="filter_category" value="cat_02")
            .psevdochecbox
            span Шкафы

        label
            input(type="checkbox" name="filter_category" value="cat_03")
            .psevdochecbox
            span Шкафы-купе

        label
            input(type="checkbox" name="filter_category" value="cat_04")
            .psevdochecbox
            span Кровати

        label
            input(type="checkbox" name="filter_category" value="cat_05")
            .psevdochecbox
            span Гардеробные и стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_06")
            .psevdochecbox
            span Стеллажи
