.constructor
  display block
  padding-bottom 50px

  .inp.error
    border 2px solid #ff0000 !important

  .tabs
    margin-top 20px

    .tabs__content
      display none

    .tabs__content.active
      display block

    &__caption-constructor
      display block
      margin-left -62px

      li
        display inline-block
        vertical-align top
        margin 0 65px
        position relative
        width 34px
        cursor pointer

        .number
          width 34px
          height 34px
          border-radius 34px
          border 1px solid $cYellow
          background #ffffff
          display block
          position relative
          z-index 5

          i
            display block
            margin-top 3px
            margin-left 3px
            width 28px
            height 28px
            border-radius 28px
            text-align center
            line-height 30px
            font-size 12px
            font-weight bold
            background $cYellow
            color #ffffff
            font-style normal

        .text
          width 190px
          margin-left -77px
          font-size 12px
          font-weight bold
          color $cBlue_d
          text-align center
          display block

      li.disable
        cursor default

        .number
          border 1px solid transparent
          background transparent

          i
            background #d3d3d3

        .text
          color #585858

      li:before,
      li:after
        position absolute
        content ''
        border-top 3px solid $cYellow
        top 16px

      li:before
        width 82px
        left -65px

      li:after
        width 82px
        right -65px

      li.disable:before,
      li.disable:after
        border-top 3px solid #d3d3d3

      li:first-child
        .text
          margin-left 0
          text-align left
          width 100px

      li:first-child:before
        display none !important

      li:last-child:after
        display none !important

.cupboard,
.kitchen
  width 900px

  .inp-calendar
    background url("../img/icon--calendar.png") no-repeat 90% 50%

  .labels
    display block

    .project__about-images li,
    .project__about-images + .js--img--container
      margin-bottom 0

  .inputs
    width 360px
    display inline-block
    vertical-align top

    .inp-calendar
      background url("../img/icon--calendar.png") no-repeat 90% 50%

    .constructor__input_s
      label
        display block
        margin-bottom 24px
        padding-bottom 0

        span
          display block
          padding-bottom 10px
          font-size 18px
          color $cBlue_d
          font-weight bold

        .inp
          display block
          width 330px
          padding-left 30px
          height 57px
          border 2px solid $cBlue_l
          border-radius 8px

        .inp.error
          border 2px solid $cRed !important

    .constructor__img
      position relative
      width 360px
      height 138px
      display block

      .constructor__img-load
        position absolute
        font-size 18px
        text-align center
        left 0
        right 0
        top 53px
        z-index 5
        background none
        width auto
        height auto
        margin 0
        border none

      .js--img--container-img
        border 2px dashed $cBlue_l
        border-radius 8px
        width 360px
        height 138px
        display block

  .textarea
    width 500px
    display inline-block
    vertical-align top
    margin-left 30px

    span
      display block
      padding-bottom 10px
      font-size 18px
      color $cBlue_d
      font-weight bold

    .inp
      display block
      width 430px
      padding 20px 30px
      border 2px solid $cBlue_l
      border-radius 8px
      height 141px
      margin-bottom 10px

    .inp.error
      border 2px solid $cRed !important

    span.comment
      color #858585
      font-style italic
      padding-top 10px
      position relative

    span.comment:after
      position absolute
      content ''
      width 28px
      height 51px
      background url("../img/decor--arrow.png") no-repeat 0 0
      left 172px
      top -40px
      z-index 5
      font-family $fLato_l

  .notification
    display block
    color #666d7c
    font-style italic
    padding-bottom 24px

  .cupboard__checker
    display block
    padding-bottom 27px

    label
      display inline-block
      vertical-align top
      margin-right 10px
      margin-bottom 10px
      cursor pointer

    span.title
      display block
      padding-bottom 22px
      font-size 18px
      color $cBlue_d
      font-weight bold

    input
      display none

    .psevdoradio
      width 18px
      height 18px
      border 2px solid $cBlue_l
      border-radius 18px
      position relative
      display inline-block
      vertical-align top
      margin-right 10px

    .psevdocheckbox
      width 18px
      height 18px
      border 2px solid $cBlue_l
      border-radius 3px
      position relative
      display inline-block
      vertical-align top
      margin-right 10px

    input:checked + .psevdoradio:after
      position absolute
      content ''
      width 8px
      height 8px
      border-radius 8px
      top 5px
      left 5px
      background $cBlue_l

    input:checked + .psevdocheckbox
      background url("../img/icon--check-blue.png") no-repeat 50% 50%

  .cupboard__doors
    .cupboard__doors-type
      display inline-block
      vertical-align top
      margin-right 20px

    .cupboard__doors-type.disable
      .psevdoradio,
      .psevdocheckbox,
      span
        opacity 0.5

  .cupboard__lift
    input.inp
      display block
      width 330px
      padding-left 30px
      height 57px
      border 2px solid $cBlue_l
      border-radius 8px

    .inp.error
      border 2px solid $cRed !important

  .cupboard__links
    span,
    a
      display inline-block
      vertical-align middle
      margin-right 33px

    a.btn
      display inline-block
      vertical-align middle
      width auto
      border-bottom none
      margin-top 0

    span
      border-bottom none
      margin-right 0

  .constructor__images.empty
    .jq-file
      .jq-file__name
        display none

      .jq-file__browse:after
        position absolute
        content "Добавить фотки"
        color #000000
        width 200px
        left 35px
        top -5px
        font-size 18px
        font-family LatoRegular, sans-serif
        font-weight bold

  .constructor__images
    display block
    padding-bottom 20px

    .jq-file
      width auto !important
      display block !important
      border none
      box-shadow none
      background transparent
      overflow visible !important

      .jq-file__name
        width auto
        max-width 500px
        border none
        box-shadow none
        display inline-block
        vertical-align top
        padding 0
        font-size 18px
        font-family LatoRegular, sans-serif
        font-weight bold
        margin-right 15px

      .jq-file__browse
        margin-top 4px
        padding 0
        width 21px
        height 21px
        background url("../img/icon--plus.jpg") no-repeat 0 0 !important
        background-size 100% 100%
        color transparent
        position relative
        background transparent
        display inline-block
        vertical-align top
        border none
        text-shadow none
        box-shadow none

  .cupboard__input_s
    label
      display inline-block
      vertical-align top
      padding-bottom 25px
      margin-right 12px

    span
      display block
      padding-bottom 10px
      font-size 18px
      color $cBlue_d
      font-weight bold

    .inp
      display block
      width 332px
      padding-left 30px
      height 57px
      border 2px solid $cBlue_l
      border-radius 8px

    .inp.error
      border 2px solid $cRed !important

  .cupboard__input_l
    label
      padding-bottom 25px
      display block

    span
      display block
      padding-bottom 10px
      font-size 18px
      color $cBlue_d
      font-weight bold

    .inp
      display block
      width 715px
      padding-left 30px
      height 57px
      border 2px solid $cBlue_l
      border-radius 8px

    textarea.inp
      padding 20px 30px
      height 50px
      width 685px

    .inp.error
      border 2px solid $cRed !important

  img.cupboard
    width auto
    height 380px
    padding-bottom 20px

.constructor-type
  display block
  width 478px
  height 58px
  border 1px solid #d9d9d9
  border-radius 10px
  line-height 60px
  margin-top 20px

  a
    display inline-block
    vertical-align middle
    height 60px
    line-height 56px
    text-align center
    width 49%
    font-size 18px
    font-weight bold

  .btn
    box-shadow none
    margin-left -1px
    margin-top -1px
    height 60px
    line-height 62px
    text-align center
    width 49%

  span
    cursor default !important

.kitchen-type
  label
    img
      display block
      margin-top 12px
      margin-left 40px

.kitchen--img-l
  display inline-block
  vertical-align top
  width 488px
  height 304px
  margin-right 90px
  margin-bottom 17px

.kitchen--img-s
  display inline-block
  vertical-align top
  width 202px
  height 139px
  margin-top 70px

.kitchen-title
  display block
  padding-bottom 22px
  font-size 18px
  color $cBlue_d
  font-weight bold

.kitchen
  .project__about-images
    margin-top 10px
    display inline-block
    vertical-align top
    margin-bottom 20px

    li
      margin-right 25px
      width 140px
      height 140px
      overflow hidden
      border-radius 10px
      border 2px dashed #cecece

      a
        display block
        height 140px
        width 140px

        img
          min-width 100%
          min-height 100%

  .project__about-images + .js--img--container
    display inline-block
    vertical-align top
    margin-top 10px
    margin-bottom 20px

    input
      display none

    a
      display block
      margin 0
      margin-right 25px
      width 140px
      height 140px
      overflow hidden
      border-radius 10px
      border 2px dashed #cecece
      position relative
      background url("../img/icon--cross.png") no-repeat 50% 50%
      top auto
      left auto

.pickmeup
  z-index 10

  nav
    padding-top 0