block vars

footer.footer
    .width-wrap.justifyed
        .footer--copyright
            span © 2015 AMBELI
            a(href="") Пользовательское соглашение

        ul.footer--nav
            li
                span О проекте
            li
                a(href="") Вопросы и ответы
            li
                a(href="") Для производителей
            li
                a(href="") Контакты