block vars

header.header
    .width-wrap.justifyed
        .header__left
            a(href="../pagePopup/popup-town.html" class="fancybox.ajax").fancy.header-town Санкт-петербург
            a(href="tel:88002000555").header--call 8 800 2000 555

        .header__right
            .header__search
                form(action="" method="post").form--search
                    input(type="text" name="search" ).inp.required
                    img(src="../../../img/svg/icon--search.svg" alt /).search-icon.js--form-send
            .header__lk
                a(href="../pagePopup/popup-ent.html" class="fancybox.ajax").btn.btn_s.fancy Войти
                span или
                a(href="../pagePopup/popup-reg.html" class="fancybox.ajax").lk--enter.fancy Зарегистрироваться

nav
    .width-wrap.justifyed
        a(href="").nav--logo
            img(src="../../../img/svg/logo.svg" alt /)

        ul.main--nav
            li
                span О проекте
            li
                a(href="") Вопросы и ответы
            li
                a(href="") Для производителей
            li
                a(href="") Контакты

