block vars

header.header
    .width-wrap.justifyed
        .header__left
            a(href="../pagePopup/popup-town.html" class="fancybox.ajax").fancy.header-town Санкт-петербург
            a(href="tel:88002000555").header--call 8 800 2000 555

        .header__right
            .header__search
                form(action="" method="post").form--search
                    input(type="text" name="search" ).inp.required
                    img(src="../../../img/svg/icon--search.svg" alt /).search-icon.js--form-send
            .header__lk
                a(href="").header__lk-message.new-message
                    img(src="../../../img/icon--message-header.png" alt /)
                img(src="../../../img/img--userpic.jpg").header__lk-userpick
                .content
                    a(href="").header__lk-name Александр Пушкин
                    a(href="").header__lk-orders Мои заказы
                    a(href="").header__lk-logout Выйти

nav
    .width-wrap.justifyed
        a(href="").nav--logo
            img(src="../../../img/svg/logo.svg" alt /)

        ul.main--nav
            li
                span О проекте
            li
                a(href="") Вопросы и ответы
            li
                a(href="") Для производителей
            li
                a(href="") Контакты

