doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}
        link(rel='icon' href='../../../img/favicon.ico' type='image/x-icon')

        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel='stylesheet', href="../../../css/style.css")

        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }

        script(type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src="../../../js/app-common.js")
        script(src="../../../js/app.js")
        script(src="../../../js/jquery.pixlayout.0.9.6.js")

    body
        .page-wrap
            include header
            block content
            .psevdofooter
            include  footer