.project
  display block

  .project-filter
    padding-top 20px

    &__tabs
      display inline-block
      vertical-align top

      label
        display inline-block
        vertical-align top
        margin-right 30px
        cursor pointer

        span
          display block
          font-size 18px
          font-weight bold
          padding-bottom 3px
          border-bottom 2px solid transparent

        input:checked + span
          border-bottom 2px solid $cYellow

    &__category
      display inline-block
      vertical-align top
      position relative
      padding-bottom 5px

      .title
        display inline-block
        vertical-align top
        font-size 18px
        border-bottom 1px dotted #000000
        font-weight bold

  .project-list--user
    margin-top 31px

    .general-list__el:last-child
      margin-bottom 0

    .general-list__el
      display block
      padding 43px 55px 17px
      border 2px solid $cYellow
      margin-bottom 35px

      &__content
        &__title
          &-name
            font-size 18px
            margin-right 10px

          &-link
            font-size 18px
            padding-left 10px
            text-decoration none

          span
            cursor default !important

      .general-list__el__content-time
        display block
        font-size 14px
        color #6c6c6c
        padding-bottom 10px

      p
        line-height 22px
        color #444444

      &__links
        a
          font-size 18px

  &__about
    display block
    padding-top 28px

    h2
      display block
      font-size 24px
      padding-bottom 32px
      font-weight bold

    &-params
      display block
      padding-bottom 25px

      li
        display inline-block
        vertical-align top
        margin-right 40px
        max-width 490px

        @media md
          max-width 430px

        @media md
          margin-right 25px

        span
          display block
          line-height 22px

          strong
            font-size 18px
            padding-bottom 12px
            display block

    &-links
      display block
      padding-bottom 56px

      a
        display inline-block
        vertical-align middle
        border-bottom 1px dotted #000000
        margin-right 33px

      a.btn
        display inline-block
        vertical-align middle
        width auto
        border-bottom none
        margin-top 0
        height 41px
        line-height 43px
        padding 0 20px

  .offers-list
    padding-top 23px

    .general-list__el:after
      position absolute
      content ''
      width 19px
      height 18px
      top 20px
      right 20px
      background url(../img/sprite--arrow.png) no-repeat 0 0

    .general-list__el.favourite:after
      background url(../img/sprite--arrow.png) no-repeat 0 -18px

    .general-list__el
      display block
      padding 38px 24px 17px
      border 2px solid $cYellow
      margin-bottom 35px

      &--img
        margin-right 25px

      &__content
        &__title
          &-name
            font-size 18px
            border-bottom 1px solid #000000
            margin-right 10px

          &-link
            font-size 18px
            padding-left 10px
            text-decoration none

          span
            cursor default !important

        .chat.hidden-block
          display none

        .chat
          margin-top 10px
          padding-bottom 10px

          h2
            display block
            margin-bottom 12px
            font-size 24px
            font-weight bold
            padding-bottom 0

          .message-list
            display block
            border-top 1px solid #cfd0d7
            max-height 800px
            overflow-y scroll

            .general-list__el
              display block
              border none
              border-bottom  1px solid #cfd0d7
              padding 30px 0 0
              margin-bottom 0

              &__content
                display inline-block
                vertical-align top
                width 800px

                @media md
                  width 600px

                p
                  font-size 18px
                  line-height 24px

              .general-list__el__content-img
                margin-bottom 0

            .general-list__el:after
              display none !important

      .form-message
        display block
        margin-top 30px

        .inp
          border 2px solid $cBlue_l
          padding 15px 30px
          height 80px
          display block
          border-radius 10px
          resize none
          width 480px
          margin-bottom 30px

        .inp.error
          border 2px solid $cRed !important

        .btn
          width 180px
          margin-left 355px

      .general-list__el__content-time
        display block
        font-size 14px
        color #6c6c6c
        padding-bottom 10px

      p
        line-height 22px
        color #444444

      &__links
        a
          font-size 18px

    .general-list__el__content
      width 960px

      @media md
        width 750px

    .general-list__el__content__doer
      .general-list__el__content
        width 370px

  &__deatil
    padding-top 30px

    h2
      display block
      font-size 24px
      padding-bottom 13px
      font-weight bold

    .tabs
      padding-bottom 58px

    .tabs__caption
      li
        padding 12px 20px
        font-size 18px
        font-weight bold
        color #0e132f
        border 1px solid transparent
        cursor pointer
        margin-right 0

        @media md
          max-width 140px
          min-height 50px

      li.active
        border 1px solid $cYellow
        border-bottom 1px solid #ffffff
        cursor default

    .tabs__content.active
      border 1px solid $cYellow
      margin-top -1px
      padding 10px 40px

      .cupboard__checker
        display block
        padding-bottom 25px

        label
          display inline-block
          vertical-align top
          margin-right 10px
          margin-bottom 10px
          cursor pointer

        span.title
          display block
          padding-bottom 22px
          font-size 18px
          color $cBlue_d
          font-weight bold

        input
          display none

        .psevdoradio
          width 18px
          height 18px
          border 2px solid $cBlue_l
          border-radius 18px
          position relative
          display inline-block
          vertical-align top
          margin-right 10px

        .psevdocheckbox
          width 18px
          height 18px
          border 2px solid $cBlue_l
          border-radius 3px
          position relative
          display inline-block
          vertical-align top
          margin-right 10px

        input:checked + .psevdoradio:after
          position absolute
          content ''
          width 8px
          height 8px
          border-radius 8px
          top 5px
          left 5px
          background $cBlue_l

        input:checked + .psevdocheckbox
          background url("../img/icon--check-blue.png") no-repeat 50% 50%

    .project__about-params
      li.img
        display block
        margin-top 40px
        max-width 100%

        .project__about-images
          margin-top 10px
          display inline-block
          vertical-align top

          li
            margin-right 25px
            width 140px
            height 140px
            overflow hidden
            border-radius 10px
            border 2px dashed #cecece

            a
              display block
              height 140px
              width 140px

              img
                min-width 100%
                min-height 100%

      .project__about-images + .js--img--container
        display inline-block
        vertical-align top
        margin-top 10px

        input
          display none

        a
          display block
          margin 0
          margin-right 25px
          width 140px
          height 140px
          overflow hidden
          border-radius 10px
          border 2px dashed #cecece
          position relative
          background url("../img/icon--cross.png") no-repeat 50% 50%
          top auto
          left auto

    .offer-list
      padding-top 6px
      padding-bottom 26px

      .general-list__el
        display block
        padding 39px 20px 42px 41px
        border 2px solid $cYellow
        margin-bottom 35px

        &--img
          margin-right 25px

        &__content
          width 100%

          &__title
            padding-bottom 6px

            &-name
              font-size 18px
              border-bottom 1px solid #000000
              margin-right 10px

            &-link
              font-size 18px
              padding-left 10px
              text-decoration none

            span
              cursor default !important
              margin-right 10px
              font-size 18px

          &-img
            margin-bottom 20px

            li
              margin-right 20px

              a
                width 140px
                height 140px

          &__links
            padding-top 25px

            a
              font-size 18px

            .btn_l
              height 40px
              line-height 42px

        p
          line-height 24px
          font-size 18px
          color #444444
          padding-bottom 26px

      .general-list__el__content__doer
        .general-list__el__content
          width 370px

    .chat
      display block
      padding-bottom 40px

      h2
        display block
        margin-bottom 12px
        font-size 24px
        font-weight bold
        padding-bottom 0

      .message-list
        display block
        border-top 1px solid #cfd0d7
        max-height 800px
        overflow-y scroll

        .general-list__el
          display block
          border-bottom  1px solid #cfd0d7
          padding 30px 0

          &__content
            display inline-block
            vertical-align top
            width 1000px

            @media md
              width 800px

            p
              font-size 18px
              line-height 24px

          .general-list__el__content-img
            margin-bottom 0

      .form-message
        display block
        margin-top 30px

        .inp
          border 2px solid $cBlue_l
          padding 15px 30px
          height 80px
          display block
          border-radius 10px
          resize none
          width 480px
          margin-bottom 30px

        .inp.error
          border 2px solid $cRed !important

        .btn
          width 180px
          margin-left 355px

  .about-user
    display block
    padding-bottom 40px

    h2
      padding-bottom 30px

    .title
      display block
      font-weight bold
      padding-bottom 30px

    li
      display inline-block
      vertical-align top
      margin-right 40px
      max-width 490px

      img
        width 60px
        height 60px
        border-radius 60px
        border 2px solid #999999

      span
        display block
        line-height 22px

        strong
          font-size 16px
          padding-bottom 12px
          display block

  .form-offer
    display block
    padding 20px 0 50px
    width 100%

    .inp
      display block
      border 2px solid $cBlue_l
      border-radius 10px
      padding-left 20px

    .inp.error
      border 2px solid $cRed !important

    textarea
      padding 10px 30px
      height 90px
      resize none
      margin-bottom 20px
      width 1080px

      @media md
        width 845px

    label
      display inline-block
      vertical-align top
      margin-right 20px
      width 360px
      margin-bottom 30px

      .inp
        height 59px
        padding-left 30px
        width 330px

      .inp.error
          border 2px solid $cRed !important

    span
      display block
      font-weight bold
      font-size 18px
      margin-bottom 10px

    .project__about-images
      margin-top 10px
      display inline-block
      vertical-align top

      li
        margin-right 25px
        width 140px
        height 140px
        overflow hidden
        border-radius 10px
        border 2px dashed #cecece

        a
          display block
          height 140px
          width 140px

        img
          min-width 100%
          min-height 100%
          width auto
          height auto

    .project__about-images + .js--img--container
      display inline-block
      vertical-align top
      margin-top 10px

      input
        display none

      a
        display block
        margin 0
        margin-right 25px
        width 140px
        height 140px
        overflow hidden
        border-radius 10px
        border 2px dashed #cecece
        position relative
        background url("../img/icon--cross.png") no-repeat 50% 50%
        top auto
        left auto

.project-filter__category-hidden
  display block
  padding 30px
  border 1px solid #cfcfcf
  box-shadow 2px 2px 0 #cfcfcf
  background #FFFFFF
  z-index 5
  width 300px

  .title
    margin-bottom 30px
    border-bottom none
    font-size 24px
    display block

  label
    display block
    margin-bottom 12px
    cursor pointer

    input
      display none

    .psevdochecbox
      width 16px
      height 16px
      border 2px solid $cBlue_l
      border-radius 5px
      background #ffffff
      margin-right 15px
      display inline-block
      vertical-align top
      margin-top 2px

    input:checked + .psevdochecbox
      background url("../img/icon--check-blue.png") no-repeat 50% 50%
      background-size  100

    span
      display inline-block
      vertical-align top
      width 260px
      color $cBlue_d
      font-size 16px

.js--img--container
  display inline-block
  vertical-align top

  input
    display none

  a
    display block
    margin 0
    margin-right 25px
    width 140px
    height 140px
    overflow hidden
    border-radius 10px
    border 2px dashed #cecece
    position relative
    background url("../img/icon--cross.png") no-repeat 50% 50%
    top auto
    left auto

.file-wrap
  display block
  margin-bottom 20px

.project__about-images
  display inline-block
  vertical-align top

  li
    margin-right 25px
    width 140px
    height 140px
    overflow hidden
    border-radius 10px
    border 2px dashed #cecece
    margin-bottom 25px
    position relative

    a
      display block
      height 140px
      width 140px

    a.delete-img
      position absolute
      width 25px !important
      height 25px !important
      border-radius 25px
      border 2px solid #ffffff
      z-index 10px
      top 0
      right 0
      background #626262 url("../img/icon--close.png ") no-repeat 7px 7px

    img
      min-width 100%
      min-height 100%
      width auto