.tabs
  display block

  .tabs__caption
    display block

    li
      display inline-block
      vertical-align top
      font-size 18px
      margin-right 28px
      cursor pointer
      padding-bottom 1px

    li.active
      border-bottom  2px solid $cYellow
      cursor default

  .tabs__content
    margin-top 30px
    display none

  .tabs__content.active
    display block