.about

  h2
    font-family $fLato
    color $cBlack
    font-size 48px
    line-height 73px
    display block
    font-weight bold

  .about--promo
    background url("../img/bg--about.jpg") no-repeat 50% 50%
    background-size cover

  .about--promo-content
    margin 155px 0 0

    .width-wrap
      padding-bottom 210px

    a
      align-items center
      justify-content center
      width 300px
      margin 0 auto

      img
        display inline-block
        vertical-align top
        width 91px
        height 91px
        margin-right 25px

      span
        color #FFFFFF
        font-size 14px
        line-height 16px

        i
          display inline-block
          vertical-align top
          padding 3px 5px
          background rgba(255,255,255,0.25)
          margin-top 3px
          font-style normal


  .about--request
    padding-top 95px

    .about--request__left
      display inline-block
      vertical-align top
      width 660px

      h2
        font-family $fLato_l
        font-weight lighter
        font-size 47px
        line-height 52px
        margin-bottom 30px

      p
        font-size 24px
        line-height 35px
        margin-bottom 35px

      .about--request-list

        li
          display flex
          align-items center
          justify-content flex-start
          margin-bottom 28px

          img
            display inline-block
            vertical-align middle
            width 71px
            height 71px
            margin-right 17px

          p
            display inline-block
            vertical-align top
            width 390px
            font-size 18px
            margin-bottom 0
            line-height 24px

            a
              display inline
              padding-left 5px
              text-decoration underline

    .about--request__right
      display inline-block
      vertical-align top
      padding-top 16px
      width 390px
      margin-right 30px

      .about--reqquest-block
        display block
        border 3px solid $cYellow
        padding 30px 30px 45px
        margin-bottom 35px

        span
          display block
          font-size 24px
          line-height 24px
          margin-bottom 18px
          font-weight bold

        p
          display block
          margin-bottom 20px
          padding-right 20px

        .btn
          display block
          width 100%

  .about--comand
    padding-top 69px
    padding-bottom 23px

    h2
      margin-bottom 62px

    h2:last-child
      margin-bottom 0

    .about--comand-list
      text-align  center
      margin-left -30px
      margin-bottom 75px

      li
        display inline-block
        vertical-align top
        width 210px
        margin-left 23px
        text-align center
        margin-bottom 30px

        img
          display block
          width 150px
          height 150px
          border-radius 150px
          margin 0 auto 42px

        span
          display block
          text-align center
          font-weight bold
          margin-bottom 14px

        p
          display block
          text-align center
          font-size 14px
          line-height 20px

  .map
    height 410px

    .ymaps-2-1-35-copyright__content,
    .ymaps-2-1-35-map-copyrights-promo
      display none

  .about--contacts
    padding-top 57px

    .width-wrap
      text-align center
      padding-bottom 45px
      border-bottom 1px solid #c8c8c8

      a
        display inline-block
        vertical-align top

      .about--contacts-tel
        font-size 48px
        font-family $fLato_l
        margin-bottom 19px

      .about--contacts-mail
        font-size 30px
        text-decoration underline
        margin-bottom 24px
        color $cBlue

      .btn
        height 41px
        line-height 43px

