block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет

            ul.lk--links
                li.active
                    span Информация о пользователе
                li
                    a(href="") Сделки

            .tabs
                ul.tabs__caption
                    li.active Активные проекты
                    li Исполнитель определен
                    li Архив

                .tabs__content.active
                    ul.user-deal--list.general-list
                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта


                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                .tabs__content

                    ul.user-deal--list.general-list
                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li
                .tabs__content



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_user_deal.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});