block vars
    - var title='Title'

extends ../../partials/layout-login

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li.active
                    span Информация о компании
                li
                    a(href="") Реквизиты
                li
                    a(href="") Оплата

            form(action="" method="post" runat="server").lk--content.justifyed.main-form
                .lk--content__userpick
                    span Логотип компании
                    div(data-url="../../../js/ajax/load_img.php").lk--content__userpick-img.js--img--container
                        input(type="file" name="userpic").input-file.required
                        a(href="").lk--content__userpick--load.js--img-load
                        img(src="" alt /).js--img--container-img

                .two--third
                    ul.lk--content-list
                        li
                            span Название компании
                            input(type="text" name="title").inp.required

                        li
                            span Телефон
                            input(type="text" name="phone").inp.inp-phone.required

                        li
                            span ФИО ответственного менеджера
                            input(type="text" name="manager").inp.required

                        li
                            span Эл. почта
                            input(type="text" name="mail").inp.inp-mail.required

                        li
                            span Пароль
                            input(type="text" name="password").inp.required.inp-pass

                        li
                            span Подтверждение пароля
                            input(type="text" name="password_repeat").inp.required.inp-pass-repeat


                    .lk--content-partition
                        span Разделы

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                    .lk--content-partition
                        span Способы оплаты

                        label.checkbox
                            input(type="checkbox" checked name="carf").hidden-block
                            i.psevdochecbox
                            span Карты

                        label.checkbox
                            input(type="checkbox" checked name="cash").hidden-block
                            i.psevdochecbox
                            span Наличные

                    .text-right
                        a(href="").btn.btn_l.js-form-submit Сохранить





    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_info.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});