block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li
                    a(href="") Информация о компании
                li.active
                    span Реквизиты
                li
                    a(href="") Оплата

            form(action="" method="post").lk--content.main-form.tabs
                .radio-wrap
                    span Выберите, кто вы:

                    ul.tabs__caption.js--requisite-disabled
                        li.active
                            label
                                input(type="radio" checked name="type" value="01")
                                .psevdoradio
                                span Юридическое лицо

                        li
                            label
                                input(type="radio" name="type" value="02")
                                .psevdoradio
                                span ИП

                        li
                            label
                                input(type="radio" name="type" value="03")
                                .psevdoradio
                                span Физическое лицо

                    .tabs__content.active
                        ul.lk--content-list
                            li
                                span Имя компании ООО
                                input(type="text" name="title").inp.required

                            li
                                span ИНН/КПП
                                input(type="text" name="inn").inp.required

                            li
                                span ФИО Директора
                                input(type="text" name="manager").inp.required

                            li
                                span ОГРН
                                input(type="text" name="manager").inp.required

                            li
                                span р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Почта
                                input(type="text" name="mail").inp.inp-mail.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span БИК
                                input(type="text" name="manager").inp.required

                            li
                                span ФИО бухгалтера
                                input(type="text" name="manager").inp.required

                            li
                                span Юр. адрес
                                textarea(type="text" name="manager").inp.required

                            li
                                span Факт. адрес
                                textarea(type="text" name="manager").inp.required

                            li
                                span Телефон
                                input(type="text" name="manager").inp.inp-phone.required

                            li
                                span Телефон бухгалтерии
                                input(type="text" name="manager").inp.inp-phone.required

                            li.two--third
                                span Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.

                    .tabs__content
                        ul.lk--content-list
                            li
                                span ИНН/КПП
                                input(type="text" name="inn").inp.required

                            li
                                span ФИО ИП
                                input(type="text" name="manager").inp.required

                            li
                                span ОГРН
                                input(type="text" name="manager").inp.required

                            li
                                span р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Почта
                                input(type="text" name="mail").inp.inp-mail.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span БИК
                                input(type="text" name="manager").inp.required

                            li
                                span ФИО бухгалтера
                                input(type="text" name="manager").inp.required

                            li
                                span Адрес регистрации
                                textarea(type="text" name="manager").inp.required

                            li
                                span Адрес производства
                                textarea(type="text" name="manager").inp.required

                            li
                                span Телефон
                                input(type="text" name="manager").inp.inp-phone.required

                            li
                                span Телефон бухгалтерии
                                input(type="text" name="manager").inp.inp-phone.required

                            li.two--third
                                span Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.

                    .tabs__content
                        ul.lk--content-list

                            li
                                span Номер паспорта
                                input(type="text" name="manager").inp.required

                            li
                                span Серия паспорта
                                input(type="text" name="manager").inp.required

                            li
                                span Когда выдан
                                input(type="text" name="manager").inp.required.inp-pasport-date

                            li
                                span Код подразделения
                                input(type="text" name="manager").inp.required.inp-pasport-code

                            li
                                span Кем выдан
                                textarea(type="text" name="manager").inp.required

                            li
                                span Код подразделения
                                textarea(type="text" name="manager").inp.required

                            li
                                span Скан первой страницы паспорта
                                input(type="file").required.js--file-styled

                            li
                                span Р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span Бик
                                input(type="text" name="manager").inp.required

                            li.two--half
                                label.js--check-agreement.check-agreement
                                    input(checked name="agreement" type="checkbox")
                                    .psevdochecbox
                                    span Согласен на обработку персональных данных

                .text-right
                    a(href="").btn.btn_l.js-form-submit Сохранить

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_req.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});