block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li
                    a(href="") Информация о компании
                li.active
                    span Реквизиты
                li
                    a(href="") Оплата

            .justifyed
                .li--history
                    span.title Последние списания/пополнение

                    form(action="../../../js/ajax/load_history.php" method="post").main-form.history-form
                        span Выборка по дате
                        label.data_from
                            span от
                            input(type="text" name="date_from").inp.required.inp-call

                        label.data_to
                            span до
                            input(type="text" name="date_to").inp.required.inp-call

                        a(href="").btn.btn_l.js-form-submit Применить

                    ul.history--list
                        li.justifyed
                            div
                                span.history--list-time 12 сентября 2015
                                span.history--list-status Выставлен счет
                                a.history--list-link Оплатить счет

                            span.history--list-price.roubl 2 250

                        li.justifyed.paid
                            div
                                span.history--list-time 12 сентября 2015
                                span.history--list-status Счет оплачен
                                a.history--list-link Скачать акт

                            span.history--list-price.roubl 2 250

                .li--card






    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_payment.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});