block vars
    - var title='Title'

extends ../../partials/layout

block content

    .message
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Мои сообщения

            .justifyed
                .pagination-wrap
                    ul(data-url="../../../js/ajax/load_history.php" data-list-length="4").chat--list.general-list
                        li(data-user="man_01").general-list__el.active


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                    ul.chat--pagination

                .chat
                    h2 Диалог с Александр Пушкин

                    ul.message-list.general-list
                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                                ul.general-list__el__content-img
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)


                    form(action="../../../js/ajax/load_history.php" method="post").main-form.form-message
                        input(type="text" name="user" value="man_01").hidden-block
                        textarea(name="message" placeholder="Написать сообщение").inp

                        .file-wrap
                            ul.project__about-images
                            div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                input(type="file" name="file[]").input-file
                                a(href="").js--img-load

                        a(href="").btn.btn_l.js-form-submit Отправить



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/message.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});