block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет

            ul.lk--links
                li.active
                    span Информация о пользователе
                li
                    a(href="") Сделки

            form(action="" method="post" runat="server").lk--content.justifyed.main-form
                input(type="text" name="id" value="user_01").inp-id.hidden-block
                .lk--content__userpick
                    span Аватарка
                    div(data-url="../../../js/ajax/load_img.php").lk--content__userpick-img.js--img--container
                        input(type="file" name="userpic").input-file.required
                        a(href="").lk--content__userpick--load.js--img-load
                        img(src="" alt /).js--img--container-img

                .two--third
                    ul.lk--content-list
                        li
                            span ФИО (Имя обязательно)
                            input(type="text" name="name").inp.required

                        li
                            span Пароль
                            input(type="text" name="password").inp.required.inp-pass

                        li
                            span Эл. почта
                            input(type="text" name="mail").inp.inp-mail.required

                        li
                            span Подтверждение пароля
                            input(type="text" name="password_repeat").inp.required.inp-pass-repeat

                        li
                            span Телефон
                            input(type="text" name="phone").inp.inp-phone.required

                        li.checkbox
                            label
                                input(type="checkbox" checked name="licence").hidden-block
                                i.psevdochecbox
                                span Согласен получать смс

                        li
                            button.btn.btn_l.js-form-submit Сохранить
                            a(href="") Отменить

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_user.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});