block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pages/pageIndex/pageIndex.html")
                h4 page Index

            a.list-group-item(href="pages/pageBlog/pageBlog_inner.html")
                h4 page Blog_inner

            a.list-group-item(href="pages/pageBlog/pageBlog.html")
                h4 page Blog

            a.list-group-item(href="pages/pageContact/pageContact.html")
                h4 page Contact

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 page About

            a.list-group-item(href="pages/pageLk/pageLk_user.html")
                h4 page Lk user info

            a.list-group-item(href="pages/pageLk/pageLk_user_deal.html")
                h4 page Lk user deal

            a.list-group-item(href="pages/pageLk/pageLk_man_info.html")
                h4 page Lk man info

            a.list-group-item(href="pages/pageLk/pageLk_man_req.html")
                h4 page Lk man requisites

            a.list-group-item(href="pages/pageLk/pageLk_man_pay.html")
                h4 page Lk man payment

            a.list-group-item(href="pages/pageLk/pageLk_message.html")
                h4 page Lk Message

            a.list-group-item(href="pages/pageProject/pageProjectlist_user.html")
                h4 page Projectlist user

            a.list-group-item(href="pages/pageProject/pageProjectlist_man.html")
                h4 page Projectlist man

            a.list-group-item(href="pages/pageProject/pageProject_offers.html")
                h4 page Project offers

            a.list-group-item(href="pages/pageProject/pageProject_user.html")
                h4 page Project user

            a.list-group-item(href="pages/pageProject/pageProject_man.html")
                h4 page Project man

            a.list-group-item(href="pages/pageProject/pageProject_man_del_img.html")
                h4 page Project man delete images

            a.list-group-item(href="pages/pageConstructor/pageConstruct_cupboard.html")
                h4 page Construct cupboard

            a.list-group-item(href="pages/pageConstructor/pageConstruct_kitchen_s.html")
                h4 page Kitchen small

            a.list-group-item(href="pages/pageConstructor/pageConstruct_kitchen.html")
                h4 page Kitchen